[2017-05-24 21:53] Chicagoan2016 commented on #363
I just manually copied the templates and snippets from VS 2015's installation folder to that of VS 2017 : )
and its working!

[2017-05-24 21:55] rockfordlhotka commented on #363
It is possible that the NuGet package has a script that copies to the 2015 folder explicitly. I kind of think we're "misusing" NuGet as a deployment tool for those templates 😄

[2017-05-25 19:37] #241 closed

[2017-05-25 19:54] rockfordlhotka commented on #365
My recommendation is for you to back-port the changes into the version of CSLA you are using. We're happy to accept a PR for that change and we'll roll it into a patch update for that older version of the framework.

[2017-05-25 19:55] rockfordlhotka commented on #364
I'd use the same basic pattern, though you'll probably need to pass a parameter to the `GetManager` method to indicate which data source you plan to use.

[2017-05-25 19:56] rockfordlhotka commented on #358
That'd be a breaking change for existing users of WcfProxy, which is why I haven't done it.

[2017-05-25 20:15] aspreno opened #366 "Upgrade strategy from CSLA 1.5.3"
We have an old legacy windows application based on CSLA framework 1.5.3 and Net Framework 1.1. The Net 1.1 is no more supported from several years. So now we must and want to upgrade our windws application to use a more recent version of the .net framework.

We have tried recompiling the application and CSLA against Net Framework 2.0. This did not worked due, we think, to some breaking changes in

[2017-05-25 21:28] ajj7060 commented on #366
See these threads:

http://forums.lhotka.net/forums/t/4083.aspx

http://forums.lhotka.net/forums/t/10810.aspx

[2017-05-25 21:29] ajj7060 commented on #358
You mean retrying with a different URL?

[2017-05-26 02:52] #355 closed

[2017-05-26 07:19] jonnybee commented on #366
It is probably going to be a re-write of all your business classes and also a steep learning curve.

- which .NET target framework must you support v2, v3.5, v4, v4.5, v4.6?
- there is 2 different generations of business rules (3.x and 4.x)
- go for 3.8.4 or latest 4.x to get the latest bug fixes if possible
- Use managed properties whenever possible

[2017-05-26 16:26] rockfordlhotka commented on #366
It might not be quite so bad if they went to version 3.0.5, because that still predates any modern rules engine concepts like exist in 3.8 or 4.0+.

Still, the difference from 1.x to the 2.x-3.0.x versions is substantial because .NET introduced generics and CSLA embraced them starting with 2.0. To get to CSLA 2.x-3.0.x from 1.x means you also need to adopt generics. But at least 3.0.5 largely reli

[2017-05-26 17:11] rockfordlhotka opened #367 "CSLA 4.6.600 beta online"
I just pushed a beta release of version 4.6.600 into NuGet.

Primary changes from 4.6.500 include:

* Support for netstandard 1.6
* Support for ASP.NET in .NET Core
* Solutions and projects updated to Visual Studio 2017
* Add `.editorconfig` file for solution
* Provide overloads for `RegisterProperty` to Make Default Value Initialization Easier
* More info provided via `UndoException` (breaking ch

[2017-05-26 20:37] jonnybee commented on #366
In terms of Windows Databinding (IEditableObject), SortedBindingList/FilteredBindingList and helpers there was some important bugfixes done in the later versions.

You may not use these so it will not be an issue for your app.

And if you must support clients on .NET 2.0 the Csla 3.0.5 is as high as you can go.
See: http://www.lhotka.net/cslanet/download.aspx

[2017-05-27 01:24] gem4511 opened #368 "Android, iOS local DB error"
My application runs fine on Windows Forms and on Mac (using Mono).  It is built on Csla 4.6.5.  It USED to also run on Android and iOS tablets until a week or so ago.

On Android and iOS the initial screen displays, and when it is dismissed, local DB connections are established and a list is displayed (a ReadOnlyListBase).  Now, what I get is:

"Default constructor not found for type Csla.Server.D

[2017-05-27 02:02] gem4511 commented on #368
Whoops!  I may have hit on my something.  The error appears to occur in async DB operations.  My code is, and has been, hitting the local Android and iOS DBs using DataPortal.Fetch, etc.  If the distinction between synchronous and asynchronous is the key, then how did my stuff EVER work?  Hmmmmm.

It will be a few days before I can try a switch to async.  Any thoughts?

Thanks
GEM

[2017-05-29 07:59] aspreno commented on #366
Thank you for your advices. First we will consider moving towards version 3.0.5.

Our windows application was developed on CSLA framework adding some library layer for user interface interaction and base classes for business objects. Actually, business objects structure was not changed. Only some functionalty were added for validation and for database persistence. So hope we can go this way.

[2017-05-29 08:04] michaelcsikos opened #369 "Csla.ApplicationContext.User in ProjectTracker WinForms UI"
Hi Rocky et al

I have been trying to implement a user login similar to the ProjectTracker sample. However, the `User` is being reset to a `GenericIdentity` virtually straight after the user is first authenticated. Then I noticed this actually happens in the ProjectTracker sample, too. I added a tool strip button to `MainForm` which simply does

[code]
The output is `System.Security.Principal.Gene

[2017-05-29 14:27] jonnybee commented on #369
See: https://github.com/MarimerLLC/csla/issues/701

[2017-05-29 16:35] rockfordlhotka commented on #369
Also, if you look at `Samples\ProjectTracker` in master right now, I have a temporary workaround with a custom application context provider that resolves the issue. It is an easy workaround - add that one class, and one line of code as the app starts so CSLA uses that custom provider.

[2017-05-30 00:28] michaelcsikos commented on #369
Thanks Jonny and Rocky. The `ApplicationContextManager` is working fine.

[2017-05-30 00:28] #369 closed

[2017-05-31 00:43] Chicagoan2016 commented on #361
I was looking at an older project that we developed in 2005 using Data Access application block and it has methods like ExecuteReader and ExecuteNonQuery which takes parameters to stored proc as an object array. The most recent version of Enterprise library has same (similar) methods. If we use these methods from Enterprise library, does CSLA's connectionmanager work with Enterprise library? just

[2017-05-31 08:40] GillesBer commented on #361
Sincerely, the implementation is so trivial (a few hours), that you/we benefit from moving out of the Data Access application block. Here is an example of our implementation:
[code]

[2017-05-31 08:52] jonnybee commented on #361
Just out of curiosity - why not have a Using on the DbCommand object (and then a Dispose) and do you really need Parameters.Clear()?

Or is the command object owned by the ICTransactionScope and disposed in that context?

[2017-05-31 08:55] GillesBer commented on #361
Good point, you are correct: this is not used in this context / I will comment it.
I exclude some of my code which performs audit and attempt to perform retry, the 'clear()' was there to ensure the code was reentrant.

[2017-06-03 04:25] Chicagoan2016 opened #370 "Windows authentication questions"
I have a couple of very simple internal applications that will use windows authentications, one is windows forms and the other asp.net forms ( yes : )), we are going to check for specific AD roles when a user tries to access these applications.
1) Where should I check for AD roles? which event will be better in Winforms and asp.net forms? also in asp.net forms I want to redirect them to a page abo

[2017-06-03 04:33] rockfordlhotka commented on #370
You do need to create a custom identity that contains a copy of the windows identity roles/groups, yes - or you need to ensure that you have Windows impersonation set up so users log into the web site and the Windows Forms app using their AD credentials. One way or the other.

Either way, the [ProjectTracker sample](https://github.com/MarimerLLC/csla/tree/master/Samples/ProjectTracker) demonstrati

[2017-06-03 04:54] Chicagoan2016 commented on #370
Thank you Rocky,
I need to access the Roles property implemented in WindowsIdentity base class and since its protected I can't access through my CustomIdentity derived from WindowsIdentity. Any suggestions please : )

Regards

[2017-06-03 06:29] Chicagoan2016 commented on #370
I also found out that if I try to add a managed readonly property to CustomIdentity (inherited from Csla.Silverlight.Security.WindowsIdentity), I am getting a compile time error, is there a certain way to declare properties in cases like these?

Thanks and regards

[2017-06-06 01:09] Chicagoan2016 commented on #370
could anyone please reply : )

Thanks

[2017-06-06 01:14] tonydrake commented on #370
Can you give us examples of code and what compile error is?

On 6 June 2017 at 10:39, Chicagoan2016 <notifications@github.com> wrote:

[2017-06-06 01:15] rockfordlhotka commented on #370
Busy weekend followed by a day of travel...

That class isn't generic, it isn't designed as a base class. You can subclass it if you'd like, but you'll have to use the RegisterProperty overloads that work without using generic type information.

Or you can copy the code into your own class and enhance that code to your own ends.

[2017-06-06 01:20] Chicagoan2016 commented on #370
Thank you Rocky,
I appreciate your time and help, I  will create my own Identity class and inherit it from CslaIdentityBase.

Kind regards

[2017-06-06 03:27] Chicagoan2016 commented on #370
I created a custom Identity class inheriting from CslaIdentityBase and copied the code from WindowsIdentity and pasted it inside CustomIdentity.cs
I am getting the error
"Some or all identity references could not be translated."
Exception Details: System.Security.Principal.IdentityNotMappedException: Some or all identity references could not be translated.

the error is occuring at line
 System.Se

[2017-06-06 03:29] Chicagoan2016 commented on #370
This is a asp.net web forms application and only windows authentication is enables in IIS.

thanks

[2017-06-06 04:55] Chicagoan2016 commented on #370
I commented out call to 'PopulateWindowsIdentity' in DataPortal_Fetch() and now when I try to cast Csla.Applicationcontext.User.Identity to MyCustomIdentity (I need to access an extra property that I added to MyCustomIdentity) I am getting the following error.

Unable to cast object of type 'System.Security.Principal.WindowsIdentity' to type 'MyProject.BusinessLayer.Security.MyCustomIdentity'."}	S

[2017-06-06 19:15] chatzikk opened #371 "Business Objects from Different End Points"
I have a three tier WinForm application and the data portal is hosted on an IIS.
Now I need to retrieve some of the business objects of the application from a data portal on a different IIS. Is it possible to configure the application to use two different end points?

[2017-06-07 03:02] rockfordlhotka commented on #371
Yes. To do this you need to create a custom `Csla.DataPortalClient.IDataPortalProxy` that in turn creates the appropriate data portal proxy with the type and configuration you need to talk to each of your data portal servers.

The types you need are in the `Csla.DataPortalClient` namespace and you can see the code here: https://github.com/MarimerLLC/csla/tree/master/Source/Csla.Shared/DataPortalCl

[2017-06-07 04:09] Chicagoan2016 commented on #370
I got it working to a certain extent but I am checking for users windowsIdentity ( user domain name) in Application_AcquireRequestState in global.asax and its returning app pool Id, although i have set up the website to use windows authentication only. I tried numerous events in global.asax but to no avail.
 Which event in global.asax should I use to get user's domain name?

Thanks

[2017-06-07 04:16] rockfordlhotka commented on #370
This whole thing relies on the user authenticating with the web server using their Windows credentials, and then having the web server impersonate the user, that way your code on the server is running under the user's identity.

You don't need any event then, because IIS/ASP.NET already authenticated the user before they even get access to any of your code - and that is what allows you to just use

[2017-06-07 04:24] Chicagoan2016 commented on #370
Thank you Rocky,
I put the code in SessionStart event in global.asax and it's working (at least for now : ))
I had to check for specific AD roles for this application, and if the user wasn't in those roles then direct to notauthorized page with contact info for the Admin. I implemented a few lines of code from System.DirectoryServices.AccountManagement in CustomIdentity and its working ( for the t

[2017-06-07 04:32] Chicagoan2016 commented on #370
My requirement is to load AD roles for a domain user and if the user is not in certain AD roles then he is not 'authenticated', I am probably overthinking this and there is any easy way to accomplish this : )

[2017-06-07 05:54] fujiiface commented on #370
Don't sell yourself short @Chicagoan2016.  Authentication/Authorization is not a trivial thing.  For the ASP.NET side of things I have, in the past, used ADFS 2.0 with CSLA to authenticate users.  They get a "non-standard" login screen similar to the Microsoft ones you get for Azure portal, etc.  Once logged in, claims take over.  I don't have any reference code at the moment since it is on my wor

[2017-06-07 23:06] Chicagoan2016 commented on #370
Thank you @fujiiface ,
I guess my problem was I couldn't get it work so that it would call WindowsIdentity's populateIdentity method as implemented in CSLA. I know that windowsIdentity class will always return authenticationtype as 'windows', however in my code it wasn't the case.
Has anyone been able to use WindowsIdentity.cs in an asp.net webforms successfully?

Regards

[2017-06-08 15:23] j055 opened #372 "ApplicationContext.ClientContext vs ApplicationContext.LocalContext"
Hi

In a regular .NET app I can see that ClientContext shares the data across all treads whereas LocalContext is always one dict per thread. But in a ASP.NET app, because these dicts use HttpContext the data or dictionaries are stored on each request and therefore setting data against the same key in one request will not be available in another request. I hope that's right so far?

My question is,

[2017-06-08 15:28] rockfordlhotka commented on #372
`Csla.ApplicationContext` uses a provider model to load an environment-appropriate context manager depending on the runtime where your code is executing. So the way things are managed may vary between ASP.NET, WPF, Xamarin, etc.

The only way to know what will happen in any specific environment is to look at the context manager for that environment - or to read the _Using CSLA 4_ book where I docu

[2017-06-08 15:38] j055 commented on #372
I'd be grateful if you could point me to the specific chapters/pages in Using CSLA 4. Also what about Console apps? Our app is actually an Azure WebJob so a console app running under a IIS worker process, I think.

Is there anything out-of-the-box I can use? Implementing my own context manager seems like a lot of work.

[2017-06-08 15:52] j055 commented on #372
So my example above doesn't work on the current thread? So I need 4.6.600 to fix it?

[2017-06-08 16:11] j055 commented on #372
OK, I have tried 4.6.600 beta and 4.6.500. Using the code example above I get the following results for each of the dictionaries:

**LocalContext**
RAW:A:12
RAW:B:13
DIC:A:12
DIC:B:13

**ClientContext**
RAW:A:12
RAW:B:13
DIC:B:12
DIC:B:13

**GlobalContext**
RAW:A:12
RAW:B:13
DIC:A:12
DIC:B:13

Why does ClientContext behave differently to GlobalContext and LocalContext?

Shouldn't they all be the s

[2017-06-09 04:27] JasonBock opened #373 "Analyzer Idea: Enforce Calling a "AddXYZ" Method in a Rule"
Today at a client we were talking about implementing business rules, and we started to wonder....would there ever be a reason in a rule to *not* call at least one of the following methods:

* `AddErrorResult`
* `AddWarningResult`
* `AddInformationResult`
* `AddSuccessResult`

It would seem odd to have a rule that doesn't do some kind of `Add...()` call, but there may be valid reasons that I'm not

[2017-06-09 05:24] jonnybee commented on #373
Yes, there is several reasons:

1. AddSuccessResult is added by the rule engine as default if a sync rule hasn't added a result.
2. A Calculation/ToUpper/ToLower rule would only call context.AddOutValue
   See RuleTutorial\TransformationRules\CalcSum.cs and ToUpper.cs
3. An async lookup rule would call AddOutValue (and call context.Complete)
   See: RuleTutorial\AsyncLookupRule\Rules\AsyncLookupCu

[2017-06-09 05:26] jonnybee commented on #373
RuleTutorial solution is located in Csla\Samples\Net\cs\RuleTutorial folder.

[2017-06-09 08:56] Chicagoan2016 opened #374 "Csla0003 Analyzer"
I usually set this analyzer's rule severity to hidden or none, but do we need this anymore? since If I am not mistaken we need public constructor for silverlight applications.
I also noticed that its still present in Project Tracker sample application.

regards

[2017-06-09 08:59] Chicagoan2016 opened #375 "Project Tracker question"
Why do we have a Businessbase under CslaBaseTypes folder?

Thanks

[2017-06-09 11:36] jonnybee commented on #375
Is is to show how you could (and should) create your own intermediate base classes so that you can add modifications or override methods as required for all you business objects.

You could f.ex add logging of dataportal calls, exceptions in DataPortal calls and more.

[2017-06-09 15:07] j055 opened #376 "error while trying to serialize parameter http://ws.lhotka.net/WcfDataPortal:request"
Trying to use the WcfProxy from a Unit test project

[code]
I get the following error:

[2017-06-09 17:44] rockfordlhotka commented on #376
It sounds like your app server might not have the necessary assemblies in its bin folder?

[2017-06-09 22:28] j055 commented on #376
Using fiddler, I don't see a request made to the server. I'm working with the most basic BO I can. Just want to know the Wcf portal can work with a console app.

[2017-06-13 19:42] gem4511 commented on #368
Am moving the database operations to async.  If memory serves me, Rocky wrote somewhere that async should be the preferred approach in any event.

GEM

[2017-06-13 19:42] #368 closed

[2017-06-20 02:38] michaelcsikos opened #377 "Advice for users / roles / permissions"
Hello Rocky, Jonny, et al

In a WinForms project, I've implemented a user login with the `ApplicationContextManager`, `CslaIdentityBase<T>` and `CslaPrincipal`. It's working well.

**We want to add roles and permissions now, and I'd appreciate some advice before I code myself into a corner.**

I have read the relevant section in book 2 of the _Using CSLA 4_ e-book series, and Rocky's _[Permission-

[2017-06-20 05:16] jonnybee commented on #377
The roles:

- CreateObject
- GetObject
- EditObject
- DeleteObject

are only checked on the static DataPortal.XYZ or the Save method by CSLA.

- WriteProperty
- ReadProperty
- ExecuteMethod

are executed on a per-instance AuthzRules (CanRead../CanWrite../CanExecute...) and by default the result is is cached.

Assuming that you transform the authorization config into "permissions" and load these in

[2017-06-20 14:20] JasonBock commented on #373
That's good to know. This is why I always propose the idea first :). So I'm fine with closing it out.

[2017-06-20 14:20] #373 closed

[2017-06-20 14:25] JasonBock commented on #332
"Do devs use DataAnnotations?" - I used to, but very recently I've started to move away from them because I like to be consistent, and having two ways of adding rules (attributes and `AddBusinessRules()`) seems klunky.

"Should these come from MS?" - Probably, but I wouldn't hold my breath waiting to see if they ever add them :).

[2017-06-20 15:18] rockfordlhotka commented on #374
@JasonBock - thoughts?

[2017-06-20 16:21] ajj7060 commented on #374
Isn't this still the case for Xamarin?  I think we actually set this from Hidden to Warning when we started Xamarin and it did appear to be an issue.  Unless its specific to the HttpDataPortal?

[2017-06-21 00:29] michaelcsikos commented on #377
Thanks for your detailed reply, Jonny.

What is the recommended way to apply `GetObject` authorisation for particular instances? e.g. _Project 123_ requires role _Top-secret clearance_, but regular projects don't.

[2017-06-21 03:01] fujiiface commented on #332
I use DataAnnotations on properties for `[Display(Name = "Friendly Name")]` and inconsistently on controller/action methods (I know 👎 )

[2017-06-21 05:34] jonnybee commented on #377
Tricky business. Depending on your requirements - you could implement this in a Ge

[2017-06-21 09:41] tfreitasleal commented on #377
The search returns a list that should show only objects you are allowed to read. This a pretty common scenario and can be handled by the database query itself.

[2017-06-22 18:13] rockfordlhotka opened #378 "Version 4.6.600 release"
CSLA .NET version 4.6.600 is now online; support for netstandard 1.6, fixes for WinForms CurrentPrincipal, and more! 

https://github.com/MarimerLLC/csla/releases/tag/v4.6.600

[2017-06-22 21:59] gem4511 opened #379 "Async DB methods"

[2017-06-23 00:04] gem4511 commented on #379
Finally faced with the need to use async DB with Csla, I'm trying to get my head around how.  I have the ebook series, and am examining Project Tracker code.  I can't seem to clear the fog.

My application has long been running fine on .Net and on OSX via Mono, using Windows.Forms.  A port to Android and iOS tablets is necessary.  Since modifying the Windows.Forms code-behind code to accommodate t

[2017-06-23 00:09] rockfordlhotka commented on #379
Unfortunately the book predates the addition of the async/await keyword in .NET, and of course in CSLA.

I have a blog post about using [async/await in the data portal](http://www.lhotka.net/weblog/CSLADataPortalChangesInVersion45.aspx), and I suspect that'll help you quite a lot.

[2017-06-23 01:42] Chicagoan2016 opened #380 "WinForms and BusinessBindingListBase"
Are classes like BusinessBindingListBase and DynamicBindingListbase still recommended while developing
Winforms applications? I couldn't find references to  them in Project tracker code.

Regards

[2017-06-23 04:46] jonnybee commented on #380
Yes, they are required in order to fully use WinForms data binding.

[2017-06-23 10:25] Chicagoan2016 opened #381 "provider pattern atlernatives for Data Access"
We don't need a pluggable Data Access layer (at least for the time being), I was wondering if I should go ahead and create my Dataaccess.Sql project without the interface project.
If I need Pluggable data access layer in the future would any of the dependency injection container help (without changing existing code base)?

regards

[2017-06-23 16:49] rockfordlhotka commented on #381
You can certainly do that, but it will tie the code in your DataPortal_XYZ methods to your DAL implementation.

So later, if you do want to switch to a provider or DI model you'll need to change your DataPortal_XYZ code to interact with that new model. But you shouldn't have to change any business logic, structure of your business domain model, or presentation layer code.

![image](https://user-im

[2017-06-26 23:36] gem4511 commented on #379
Thanks Rocky.  I've made some progress by reacting to your blog info.

[2017-06-27 18:01] Chicagoan2016 commented on #381
Thank you Rocky!

[2017-06-27 18:04] Chicagoan2016 opened #382 "Shared Projects and class diagrams"
I was looking at Project Tracker and observe something simple, but if you are like me you might  find it interesting, I use class diagram tool in VS to understand objects' design, I just found out I couldn't do that with shared projects in Visual Studio : ), I am using VS 2017

Regards

[2017-06-28 22:13] rockfordlhotka opened #383 "Old forum going down"
Hello everyone,

I am sad to say that the old archived forum (forum.lhotka.net) needs to go away ASAP. It is running on a 32 bit Windows 2003 server and so is vulnerable to this latest virus running around the world. And it can't be upgraded because it is 32 bit.

My current plan is to dump all the data out of the SQL Server db and shut down the VM.

Exactly what to do with the data from the datab

[2017-06-28 22:19] ajj7060 commented on #383
@rockfordlhotka  Is it possible to send a request to archive.org to crawl it before it goes away?

[2017-06-28 22:25] fujiiface commented on #324
Ok so it's been a lot longer than I wanted to pass for more updates to this issue but I got sidetracked with some other stuff.  I recently had extra time to get child object Insert and Delete working (haven't gotten to Update yet but it shouldn't be hard).  I have a follow up question about Child_Create.

In my past project we called `MarkAsChild();` in the constructor using the following code:
[c

[2017-06-28 22:31] rockfordlhotka commented on #383
I'm not sure how to do that - just send them an email?

[2017-06-28 22:52] ajj7060 commented on #383
@rockfordlhotka  Hmm, it may have already found it in the past.  Looks like there are snapshots but who knows how many threads it found :-)

[2017-07-05 21:53] Chicagoan2016 opened #384 "Editable ChildList question"
On P-60 in Data Access book we have
"If properties are required in addition to the list of child objects, you should create an editable parent object that contains the collection, along with those other properties and their rules."

In the context of Project Tracker's "Edit Project" user scenario, if we need properties for the "Resources" child collection do we have to code an additional object th

[2017-07-05 23:06] fujiiface commented on #377
I'm going to piggyback off of this question here since I am trying to do something similar.  **I'm curious to know if there are any pitfalls in what I am doing and how I am doing it.**  This might also be helpful to @michaelcsikos if he has not come up with a solution yet.

Here's a couple things up front:
1. Using custom identity/principal
2. Transforming "permissions" aka organizations in the cu

[2017-07-06 08:56] jonnybee commented on #384
A list has no support for managed properties, business rules etc. It is a list that maintain a "shadow" list of deleted objects. This is the same whether it is a child or grandchild.

In the case of ProjectEdit you would have to determine whether the additional properties belong to the existing parent object (ProjectEdit) or to a separate layer.

EditableRootList is a root list object. If you need

[2017-07-06 16:18] Chicagoan2016 commented on #384
Thank you Jonny,
you are right! an EditableRoolList won't be a 'root' if I needed a parent object : )

[2017-07-06 16:21] Chicagoan2016 opened #385 "A object design question"
I have a simple user scenario where for  I have a 'Person' object and a childList object for addresses of that person, that's how I have implemented the object graph, but my requirement is I only need two types of addresses, mailing and Physical ( and its not going to change : )).
Could I have designed this scenario better?

Regards

[2017-07-06 16:23] #384 closed

[2017-07-06 16:34] hurcane commented on #385
Without knowing the full details of your requirements, you certainly could have an Address class, then have separate properties (MailingAddress and PhysicalAddress) on your Person class, both of type Address. You could also project the two address classes onto multiple properties of Person (e.g. PhysicalCity and MailingCity, PhysicalPostalCode and MailingPostalCode, etc.)

If you're using a relati

[2017-07-07 01:30] fujiiface opened #386 "Custom Business Rule"
Hi all,

Have what I think is a weird issue going on with a custom business rule.  I have two generic business rules that deal with strings.  One is the `ToUpper `sample that is found within the Using CSLA 4 02-Objects ebook (page 108).  The other is based on the `ToUpper `sample and called `NullToEmptyString `which checks for a null string field (from the database) and replaces it with an empty s

[2017-07-07 14:30] jonnybee commented on #386
There is no way to tell any issues from this code.
Could you post a working sample that reproduces the issue for us?

[2017-07-10 15:31] Chicagoan2016 opened #387 "Inheritance"
Hi,
I  created my own abstract base classes following the example in Project Tracker, We needed a few properties like UserCreated, UserModified etc. in all of our BOs so I went ahead and added those to my abstract base classes but I am getting compile time error of "T does not contain a definition for UserCreated...... "
Do I need to use a different overload of RegisterProperty in my base classes?

[2017-07-10 16:28] jonnybee commented on #387
You should make all your base classes generic (and implement interface). This will make your life easier.
I'm not too fond of the coding style that Jason showed in his sample.

Rather - take a look at the included sample:
csla\Samples\NET\cs\Polymorphism\Polymorphism.Business
and how the base class ChildTypeT, ChildType1 and ChildType2 is implemented.

[2017-07-10 16:54] Chicagoan2016 commented on #387
Thank you @jonnybee , I was thinking I would just define my base classes like in ProjectTracker and then add common properties to those base classes : )
It appears my 'common' properties should in the interface...

Regards

[2017-07-10 17:37] Chicagoan2016 opened #388 "SmartDate example"
Do we have a sample where SmartDate is used?

Kind Regards

[2017-07-10 21:21] rockfordlhotka commented on #388
It is used in the [ProjectTracker sample](https://github.com/MarimerLLC/csla/tree/master/Samples/ProjectTracker)

[2017-07-10 21:44] Chicagoan2016 commented on #388
My mistake! it's in ResourceAssignmentEdit.cs.
Thank you Rocky

Regards

[2017-07-10 22:58] fujiiface commented on #386
Jonny,

I've put a sample together (attached) but, in doing so, it seems I have found where the issue is.  I have a RegEx business rule that ensures the `LatestWorkLocationProperty` only contains alphanumeric characters and spaces.  In my previously posted **code-behind child and parent save** sample, I am not calling `_obj.IsValid` so the object's business rules are not checked again.  _**This is

[2017-07-11 00:48] fujiiface commented on #229
@ajj7060 Did you end up implementing this in the authorization step or at the top of your DataPortal_Update/Insert?

[2017-07-11 06:15] jonnybee commented on #386
I think that is a unnecessary override of IsValid and may slow down your application.

You _should_ call

     BusinessRules.CheckRules();
     MarkOld();

at the end of DataPortal_Fetch to make sure that the object is validated and start off with the correct state. From then on the rules will be checked as each property is updated in the UI or when model is updated (f.ex using CslaModelBinder in

[2017-07-11 06:19] jonnybee commented on #229
You should also consider to configure any async business rules (ex Lookup rules) so that they can not run on the "logical serverside" and/or in BusinessRules.CheckRules.

[2017-07-11 13:02] ajj7060 commented on #229
@fujiiface For the use case I ended up not doing either as the risk seems minimal (the queries filter based on current user permissions, which are kept server side and not modifiable from the client).  If I did need to do this I'd probably call CheckRules at the top of the DP_Insert/Update, as I'd like to make the decision on a case-by-case basis.

[2017-07-11 13:06] ajj7060 commented on #386
@jonnybee Is the MarkOld required?  I believe the dataportal will call that for you, although I can't remember if its before or after you enter the DP_F method.  I seem to recall it was changed to do it before.

[2017-07-11 14:25] Chicagoan2016 opened #389 "asynchronous business rules"
I have a web application (asp.net web forms), I am writing a business rule and I wonder if should make it asynchronous?

Regards

[2017-07-11 14:36] tfreitasleal commented on #386
Hi all,

If I remember correctly, if I MarkOld(), the object becames old and thus IsSavable returns false.
Considering you just ran business transformation rules, some properties are changed and the object no longer matches what is saved on the database. This might be the correct action considering:

1. if you change the object, the saved version will included the changes made when fetching the ob

[2017-07-11 14:42] jonnybee commented on #389
My recommendation is to write synchronous rules.

The rule engine does not support async/await so it is much more cumbersome to wait for async rules to be completed.

[2017-07-11 14:46] rockfordlhotka commented on #386
@ajj7060 we did change it to call `MarkOld` prior to invoking your `DP_Fetch` code, which is why you need to use `BypassPropertyChecks` in your code when loading values.

This change was made so it would be possible for people to ensure their object loaded with `IsDirty` as `true` if they desired, even though I think it is normally better if it is `false`.

[2017-07-11 15:05] fujiiface commented on #386
Thanks @jonnybee.  I will mess around with this some more to avoid overriding IsValid.  The "many times" behavior you mentioned is, in fact, what I have seen at times.  It hasn't been too bad on my performance but it should be addressed since more people will be using this application.

@tfreitasleal: that sounds like behavior I want :+1:

@rockfordlhotka so calling `MarkOld();` after the `DP_Fetc

[2017-07-11 15:08] rockfordlhotka commented on #386
My recommendation is to _not_ call `MarkOld`, but instead to use `BypassPropertyChecks` when loading values into your object.

The data portal already called `MarkOld` before invoking your `DP_Fetch` method, you shouldn't need to call it again unless you accidentally (or intentionally) change the object's state while loading the instance with data from the DAL. Normally this would be an accident -

[2017-07-11 15:27] Chicagoan2016 commented on #389
Thank you @jonnybee

[2017-07-11 15:41] fujiiface commented on #386
Gotcha.  Thanks @rockfordlhotka!

[2017-07-11 16:10] jonnybee commented on #389
Not quite - but you have more options on a CSLA Rule than with DataAnnotation (such as ShortCircuiting, Priority, OutValues and implicit Dependencies). For multi-lingual rules I also prefer CSLA rules over DataAnnotation.

DataAnnotation rules is wrapped with a lambda rule inside the RuleEngine (behind the scenes) and always Executed at Priority = 0. .

[2017-07-11 16:12] ajj7060 commented on #386
@tfreitasleal In addition to what Rocky wrote, I'd say generally, IMO, that its a bug for a just-fetched object to be dirty.  There typically isn't a reason to change the object on fetch.  For performance reasons I prefer to write the fetch queries to lookup data needed instead of letting rules run to do the lookups, and calculates I'd think shouldn't change what was loaded.  I normally code looku

[2017-07-11 17:57] rockfordlhotka commented on #389
fwiw, DataAnnotation rules do support the use of resx files to get multi-lingual text, but I agree with Jonny that it is easier inside a CSLA rule.

The other drawback to DataAnnotations is that they are compiled into your code, so they are generally not useful for multi-tenant scenarios where the rules need to be loaded dynamically at runtime depending on the tenant.

[2017-07-11 18:36] rockfordlhotka commented on #382
That's unfortunate - I hadn't noticed this limitation.

[2017-07-11 18:38] rockfordlhotka commented on #383
fwiw, I was able to get all the data from the database. So if someone did want to write a simple web site to allow searching through the archived content I'm happy to host such a site - I just don't have time to write it.

[2017-07-11 19:36] Chicagoan2016 commented on #382
Rocky,
 I have one other pet peeve to share, I am getting the dreadful "Cannot navigate to the symbol under the caret" since this morning. Tried everything under the sun, even Stackoverflow isn't of much help : )

[2017-07-11 20:25] rockfordlhotka commented on #389
Looks like .NET Core is getting closer to parity with DataAnnotations and localization as well.

https://andrewlock.net/localising-the-displayattribute-in-asp-net-core-1-1/

[2017-07-11 20:57] rockfordlhotka commented on #382
I've personally found VS17 to be substantially less stable than 2015 was, and I hope they stabilize it soon, as it is often very frustrating to deal with as-is...

[2017-07-12 14:18] Chicagoan2016 commented on #382
Rocky,
I read on your blog some time ago that you worked with or on steering committees at Microsoft.
I wonder what's Microsoft idea behind releasing half baked products? especially products that are used by developers. I remember VS 2010 had great support for database projects. It was dropped in VS 2012.
Microsoft released VS 2017 with no support for SSDT ( finally released SSDT several months la

[2017-07-12 21:38] Chicagoan2016 commented on #386
Thanks for the explanation @rockfordlhotka , I have a use case where I need to get data from a csv file, run business/validation rules and then send the data to a SQL database.

[2017-07-12 22:04] Chicagoan2016 opened #390 "Methods in CSLA objects"
We design CSLA objects to follow single responsibility pattern, I can't come up with a scenario where we would need methods in csla objects : ) since almost everything related to single responsibility pattern is covered by validation, business and authorization rules.
any thoughts?

regards

[2017-07-12 22:32] PraveenKadali opened #391 "Create multi level hierarchy in CSLA"
I am trying to implement multi level hierarchy. and my classes are like below
Collection
 [Serializable()]
    public class MaterialList : BusinessBindingListBase<MaterialList, Material>, IBusinessObjectList<MaterialList>
    {
 MaterialParent _params;

        internal MaterialParent LoadParent
        {
            get { return _params; }
            set { _params = value; }
        }
     priva

[2017-07-12 22:40] PraveenKadali commented on #390
One scenario that I could think of is to create a copy of the object.

[2017-07-13 14:32] Chicagoan2016 opened #392 "Dependent properties in business rules"
I have a few questions about dependent properties in business rules.
 1) We have two ways of accomplishing this (per p-89 of creating business objects book), 'implicit' and
     'explicit ' (using Dependency rule), which one is preferred?
 2) If we use 'implicit' dependency my understanding is the first property in the constructor of the rule is
     the primary property, am I right?
3)  If a rule

[2017-07-13 20:16] Chicagoan2016 opened #393 "BusinessRule Demo in CSLA samples"
should I follow the BusinessRule Demo sample while writing my business rule?

kind regards

[2017-07-13 20:42] jonnybee commented on #392
Read my blog post:
https://jonnybekkum.wordpress.com/2011/08/29/csla-4-2-rules-update/

I prefer to write rules as "generic" as possible and use implicit dependencies.

[2017-07-13 20:44] jonnybee commented on #393
Have a look at Samples\Net\cs\RuleTutorial

[2017-07-13 21:48] Chicagoan2016 commented on #393
Thanks a bunch @jonnybee !,
one more question, is there away we can download just RuleTutorial  solution from github? I dont want to download every other sample right now.

Regards

[2017-07-13 21:59] Chicagoan2016 commented on #393
don't worry about it : ) , I just downloaded everything

[2017-07-14 07:01] jonnybee commented on #391
Yes, it is possible to have multi-level hierarchy in CSLA.

Seems like you have a couple of issues.

1. You should not create a _parent field in your list
2. Use a generic base class like BusinessBase<T> for your Material class

Could be other issues with your object structure as well as UpdateableBusinessBase is not a class in CSLA.

[2017-07-14 08:24] jonnybee commented on #390
There's several scenarios where you would need to override methods in a BO, f.ex:

- serialization/deserialization of values/objects that are not supported in MobileFormatter
- trigger validation in parent object when a child list is changed or child object is changed
- custom overrides of PropertyHasChanged or CanReadProperty/CanWriteProperty/CanExecuteMethod (one setting that would make object r

[2017-07-14 13:43] Chicagoan2016 commented on #390
Thank you @jonnybee , I was talking more in terms of writing own business methods but I did get to see an example in AuthzMethod project in Rule Tutorial solution.

Regards

[2017-07-14 14:35] hurcane commented on #390
We have many situations where we use methods on the business objects beyond the business rules.

Here is one scenario from our system:

When entering a new order and the customer ID is entered, the user is shown a a list of related comments for the customer. The user can select comments to be added to the order. When they confirm the action, the selected comments are added to the order by a method

[2017-07-14 15:15] Chicagoan2016 commented on #388
When we send a SmartDate parameter  e.g. m_DOB to a stored proc that's expecting datetime argument, should we send m_DOB.DBValue ? (that's what I was doing back in the days of Csla 1.x).

And when I would retrieve a datetime field I would do something like
  m_DOB = .GetSmartDate("DOB", m_DOB.EmptyIsMin)

kind regards

[2017-07-14 15:16] Chicagoan2016 commented on #390
Thanks for the 'AddComments' example, I can see its use in some of my business objects

regards

[2017-07-14 16:08] tfreitasleal commented on #388
Hi,

I don't intend to "sell" you CslaGenFork as a production tool (although you can use to generate production code). But this kind of small questions is the main reason I took over CslaGen and made CslaGenFork. "Why re-invente the wheel (aka search/test) especially the small wheels..."

I use CslaGenFork as a repository of how to do things. To answer that kind of questions I would go to CslaGenF

[2017-07-14 16:09] PraveenKadali commented on #391
Thank yo for your response Jonny
I tried by removing the parent field from the list but still got the same error.
The UpdateableBusinessBase is just an abstract class that is inheriting BusinessBase

Do you have any sample code by chance that I can use as a reference to troubleshoot my issue?

[2017-07-14 16:15] Chicagoan2016 commented on #388
@tfreitasleal , I did download CslaGenFork a while ago (version 4.5.4) but didn't make a whole lot of progress with it because of lack of documentation/tutorial ( at that time), Could you please forward me a link to some kind of 'getting started' tutorial?

Regards

[2017-07-14 17:01] jonnybee commented on #391
You should use generic base classes. Ex:

    [Serializable()]
    public abstract class UpdateableBusinessBase<T> : BusinessBase<T> where T : UpdateableBusinessBase<T>

and

    [Serializable()]
    public class Material : UpdateableBusinessBase<Material>

Can post a complete solution that show the issue you have?

[2017-07-14 20:28] tfreitasleal commented on #388
You're right. I never got the time to build a proper how to page. The closest thing is
[CslaGen Wiki](http://cslagen.wiki-site.com/index.php/Main_Page)

[2017-07-14 21:55] PraveenKadali commented on #391
I am using Infragistics grid view control and I think the control is not working well with multi level hierarchical csla objects.
If I bind the data to Windows Forms DataGridView, it is getting updated with out any errors.
I will post the question to Infragistics support team.

Thank you for your help.

[2017-07-14 21:55] #391 closed

[2017-07-17 01:55] davimack commented on #383
What format is the data in now (ie, a .bak or other), what version mssql, any private data needs sanitized (eg saved passwords or hashes)? What format would you like the output in (eg, would dumping to static HTML make you happy)? Is it upgradable to a modern flavor of the same engine?

[2017-07-17 21:34] Chicagoan2016 opened #394 "factory methods vs Dataportal methods"
Take the example of ProjectExistsCommand object in Project Tracker.
In ProjectEdit.cs we are calling ' DataPortal.Execute<ProjectExistsCommand>(cmd);'

What if we have a static method in Command object and then call DataPortal.Execute from the static method?
Which way is better?

Regards

[2017-07-18 11:19] IvanKujundzic opened #395 "ASP.NET Core MVC and model binder"
I am trying to build simple MVC web site based on latest CSLA version.
I am using .NET Core 2.0 preview 2.

CSLA model binder is not included in .NET standard release? That class, including some others are not finished yet? Is there any sample of .NET Core MVC site?

[2017-07-18 16:33] rockfordlhotka commented on #383
To my knowledge, the Community Server forum software no longer exists as a product. Even if it does - we're talking about several years of updates that'd need to be applied to get it running again - and I'm not sure the VM image still exists. In any case, I'm not interested in running a whole VM for archive data access.

What I did was dump the data from the SQL Server to another SQL Server (2016

[2017-07-18 16:35] rockfordlhotka commented on #394
"Better" is such a relative term 😄

I've always liked the static factory method approach because it provides an intuitive, consistent, and abstract API for UI developers as they interact with the business layer.

However, static methods are very poor from an automated testing/mocking/DI perspective. So if you are less into intuitive APIs and more into using mocking and DI concepts then they aren't

[2017-07-18 16:38] rockfordlhotka commented on #395
That is all stuff that's in progress, or at least on the backlog.

I'm finding that it is hard to keep up to date with Xamarin and UWP and all the smart client changes _and_ with all the backend ASP.NET changes. Too many demands on my time, too many platforms changing too fast.

You can read that for what it is: a plea for help - more contributors will make things happen faster.

[2017-07-18 16:54] davimack commented on #383
Ahh. Threaded forum discussions.  I was thinking more along the lines of larger posts, which could be dumped out as individual pages with associated links, indexed by whomever, and just stashed on a server capable of serving out html.

I wonder if we could shoe-horn the data into something like FudForum, or massage it enough to fit into whatever forum software you're currently using (if you are).

[2017-07-18 16:54] Chicagoan2016 commented on #394
Thank you Rocky,
does it mean that any object stereotype can be called outside that object (e.g UI) by calling DataPortal.XYZ method?

Regards

[2017-07-18 17:30] rockfordlhotka commented on #383
That pretty much sums it up, yes.

If we can get it into a set of linked html files (static content) then I can just host it here on GitHub as a repo. Hadn't really thought about that, but such a thing would certainly work.

The forum was replaced by this cslaforum GitHub repo we're using to converse right now. I decided there was no point running any sort of forum software when GitHub provides a

[2017-07-18 17:45] rockfordlhotka opened #396 "ZenHub"
I've been using ZenHub to manage CSLA work for a couple years now (give or take). It is very nice, but until now it only worked in Chrome, and only with a plugin.

They recently came out with a new version of ZenHub that is HTML 5 and works in any modern browser - very nice!!

If you want to see the CSLA backlog, work against a milestone, and burndown for a milestone you can go here: https://app.z

[2017-07-19 02:27] davimack commented on #383
I think I'd want to do some basic analysis of the data before I thought it would be OK to dump it out to html - for example, this issue that we're chatting on right now: if this is what the conversations kinda look like, great, but how many of these pages would there be, and could we get it into anything that would resemble something you'd find useful?

I think static, bare-bones html pages, refer

[2017-07-19 15:05] sylum opened #397 "assembly conflict between Csla and System.ComponentModel.Annotations for type 'StringLengthAttribute'"
Hi Folks,

I'm working on a PCL project with profile 7 (.NET Framework 4.5, Windows 8) (netstandard 1.1)) that referencing a shared project witch use dataAnnotations.

When I compile this project a get the following error :

Error	CS0433	the type 'StringLengthAttribute' exists in 'Csla, Version=4.6.500.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30' et 'System.ComponentModel.Annotations, Vers

[2017-07-19 15:36] rockfordlhotka commented on #397
First, there's a reason Microsoft is abandoning the PCL concept in favor of netstandard - PCL's are a pain.

Second, there is no explicit CSLA PCL for Profile 7 - only Profile 111.

Some platforms (over time) haven't included DataAnnotations from Microsoft, and so CSLA provides its own implementation for those platforms. This included Windows Phone 8.1.

That means that the Profile 111 PCL include

[2017-07-19 17:36] sylum commented on #397
Hi Rocky,

Thanks a lot for the accurate and clear explication.
I’m targeting Android et UWP platforms. Actually, I took inspiration on the projectTrack which is very helpful by the way.

Basically, the solution is like below :
•	Business Library (PCL)
•	Xamarin form Project (PCL) {using Business Library (PCL)  }
•	Both Android and UWP projects { using  Xamarin form Project (PCL)   }

I have set

[2017-07-19 20:10] ajj7060 opened #398 "Csla 4.6.602 - Removalbe of SerliazableAttribute breaks UWP projects in VS2015"
We just updated from Csla 4.6.600 to 4.6.602, and the fix for this issue https://github.com/MarimerLLC/csla/issues/737 is indeed a breaking change.

The issue is that while updating Microsoft.NETCore.UniversalWindowsPlatform adds the attribute to .Net core and removes the need for it being defined by Csla, you can't go past version 5.2.3 while using VS2015.

Not a huge issue, as I can add Serializ

[2017-07-19 20:25] rockfordlhotka commented on #398
This is unfortunate. Difficult to see a really good solution here beyond the workaround you did by adding the attribute yourself until you can move to VS2017.

[2017-07-19 21:29] rockfordlhotka opened #399 "Version 4.6.603 release"
The [CSLA version 4.6.603 release](https://github.com/MarimerLLC/csla/releases/tag/v4.6.603) is online in NuGet.

Bug fixes from 4.6.600:

* #745 SerializationInfo.GetValue: _bindingEdit" error - UWP
* #744 Issue with Serializable, SerializableAttribute UWP
* #742 Problem with UWP's SerializationInfo
* #735 Fix missing resources in netstandard 1.6
* #737 Fix serializable attribute issue in UWP BRE

[2017-07-20 06:24] IvanKujundzic commented on #395
Thanks. As much as I can see from previous version, binder class was responsible for
1) synchronizing list of errors
2) suppressing rule checking
3) delegation of model creation to controller

Now, in .net core mvc, I think that binder can not reference controller anymore. So, controller should only have suppressing rules.
Validation should be in ViewModelBase<T> class, by implementing IValidatabl

[2017-07-20 12:57] ajj7060 commented on #395
I've always had the binder create the model myself.  I'd think read-only properties should not be set by the model binder, only publically settable ones should be.

[2017-07-20 14:18] ajj7060 commented on #398
@rockfordlhotka I just saw Csla 4.6.603, so I updated to that.  I hadn't implemented my workaround for not having Serializable, but now things are working again.  I saw some messages a package downgrades.  Did 737 get backed out?

[2017-07-20 16:46] HutchCPI opened #400 "EditableRoot Question"
Hello all,

      I am a fairly new developer that has been thrown into a fairly large project and had a quick question on EditableRoot.  I am forming a business layer for a Rolodex in which I keep getting an error with this pregenerated piece of code:

        [Transactional(TransactionalTypes.TransactionScope)]
        protected override void DataPortal_DeleteSelf()
        {
            DataPor

[2017-07-20 17:25] rockfordlhotka commented on #398
Nothing was backed out, but there was an issue with the UWP NuGet package where it was missing the dependency to bring in the `System.Runtime.Serialization.Formatters` package, and that's one of the things fixed in 603. Perhaps that also fixed the breaking change issue with VS2015?

[2017-07-20 17:31] sylum opened #401 "Business Rule issue (async/sync)"
Hi Folks,

I'm working on an API REST project and I’m facing a business rule issue.

Actually, all controllers use aync operations with csla objects (BusinessBase).
Some of those objects have business rules (async as well) attached to their properties.
When I made a put/post request to controller (for create/update a record), I have got the following error:

_An asynchronous module or handler comp

[2017-07-20 17:44] sdenison opened #402 "CSLA in HoloLens"
Has anyone used CSLA .NET in a HoloLens application created in Unity3D? I'm working on an application that has to load information about a room from the server. CSLA seems like a perfect choice for handling the communication, but I'm getting the following error when calling
`await DataPortal.FetchAsync<RoomEdit>(identifier);`
Resource Contexts may not be created on threads that do not have a CoreW

[2017-07-20 17:53] rockfordlhotka commented on #401
The thing is, you need to make sure your service method (the top-level code hosted by ASP.NET) doesn't complete until all the business rules are finished.

You can tell when all async rules are complete by listening for the `ValidationComplete` event on your object.

You can await an event using techniques in this SO thread:
https://stackoverflow.com/questions/12858501/is-it-possible-to-await-an-e

[2017-07-20 17:59] rockfordlhotka commented on #402
Are you using the latest version of CSLA?

This seems like an issue worked on a couple years ago

https://github.com/MarimerLLC/cslaforum/issues/75

and

https://github.com/MarimerLLC/csla/commit/f2e57422b26b2daaac8f67954fb812269bab2a00

[2017-07-20 18:03] rockfordlhotka commented on #400
The `DataPortal_Delete` method will expect the primary key value for the underlying object's data - so typically the id of the database record representing the object.

[2017-07-20 18:28] sdenison commented on #402
I'm using v4.6.603. I updated the NuGet package yesterday. I'm still new to Unity so I suspect I've done something wrong there. Creating a UWP client application in Visual Studio worked correctly.

[2017-07-20 18:38] rockfordlhotka commented on #402
Maybe. Is a Unity HL project also a UWP project, or is it full .NET?

[2017-07-20 18:41] sdenison commented on #402
Yes, a Unity HL project is a UWP project.

[2017-07-20 19:39] ajj7060 commented on #398
Looks like that NetStandard1.4 version of that includes System.SerializableAttribute, so that may very well have fixed it.

[2017-07-20 21:05] sdenison commented on #402
The line that's throwing the error is in Csla.DataPortalClient. The line is:
`var language = Windows.ApplicationModel.Resources.Core.ResourceContext.GetForCurrentView().Languages[0];`
I got past the error by just hardcoding the language to "en-US". I wish I knew a better UWP solution to offer.

[2017-07-20 21:26] rockfordlhotka commented on #402
Me too - or at least a way to harden the CSLA code to gracefully fall back somehow.

I suppose, because your UI is Unity, there maybe isn't a top-level WinRT CoreWindow and that's the issue. So maybe there just isn't a default UI culture of any sort?

[2017-07-20 21:37] sdenison commented on #402
That makes a lot of sense.

Another piece of interesting information is that the error occurs if that line is in a unit test when the project type is "Unit Test App (Universal Windows)", but does not occur if the line is in the code behind (UnitTestApp.xaml.cs) in the same project.

[2017-07-20 21:40] rockfordlhotka commented on #402
Well it is a known issue/fact that background threads in UWP don't have a culture. I strongly suspect that the unit tests are running in what amounts to a background thread, and so don't have any culture either.

[2017-07-20 22:09] rockfordlhotka commented on #402
What a mess Microsoft seems to have made...

I found this:
https://stackoverflow.com/questions/33871385/inconsistencies-between-cultureinfo-in-windows-universal

Which is entirely different from what I've found in the past - and seems a bit iffy, given that they are relying on hidden static fields to get the value(s).

[2017-07-21 16:44] rockfordlhotka commented on #402
Here are a couple articles on getting culture in UWP - clearly it is way more complex than it is supposed to be.

https://www.pedrolamas.com/2015/11/02/cultureinfo-changes-in-uwp/
https://www.pedrolamas.com/2017/05/03/cultureinfo-changes-in-uwp-part-2/

Also I'm told that CultureInfo.CurrentCulture in the globalization namespace is an option - but apparently that's not as reliable as what Pedro sh

[2017-07-24 04:01] rockfordlhotka commented on #341
This is now being tracked by issue https://github.com/MarimerLLC/csla/issues/712, and I've started working on it.

One thing I'm finding as I start the implementation, is that this will only affect read-write object graphs. I don't plan to merge a new read-only graph into an existing read-only graph at this time. I'm open to discussion on this topic, but it increases the amount of work quite a bit

[2017-07-24 12:37] sylum commented on #401
Hi Rocky,

With your advice and the post below from JonnyBee, I'm be able to manage the async rules.

[http://forums.lhotka.net/forums/p/12148/56247.aspx](http://forums.lhotka.net/forums/p/12148/56247.aspx)

[code]
You save my day. Thanks a lot both of you.

Cedric

[2017-07-24 12:37] #401 closed

[2017-07-24 19:47] tarekgh commented on #402
Unfortunately, this late for netstandard 2.0 to change this behavior. I have created the issue https://github.com/dotnet/corefx/issues/22565 to track it for the future release.

If I understand the issue you are running into, is the usage of

var language = Windows.ApplicationModel.Resources.Core.ResourceContext.GetForCurrentView().Languages[0];

caused the problem because the context for the Wind

[2017-08-01 19:10] fujiiface opened #403 "Analyzer Question"
I recently started upgrading to CSLA 4.6.603 and noticed some analyzer errors that I was not previously getting.  One of them is `Managed backing fields must be public, static, and read-only`.

Does this only apply to editable objects?  I have a `ReadOnlyBase `class that does not have a `public static readonly` managed property and I do not get the error for those objects but I do get it for my `B

[2017-08-03 23:31] fujiiface commented on #101
@ajj7060 Curious about this; did you have to also remove duplicates from `AffectedProperties`?  The `IsNew` rule within the `2.05 Gateway Rules - ChainedContext` project in the `RuleTutorial` sample solution does not remove duplicates.  It does show merging the `AffectedProperties`, though.

[2017-08-04 08:48] jonnybee commented on #101
There is no need to remove duplicates from AffectedProperties.

The rule engine aggregates AffectedProperties and does a Distinct on the list before returning values.

[2017-08-04 13:27] ajj7060 commented on #403
This should apply to all Csla stereo types.

I think the reason is that on some platforms reflection is limited to reflecting over public members of the type only, and Csla needs to use reflection to find the PropertyInfos.

They need to be static and readonly b/c the object reference is used internally by Csla as dictionary keys, for one.

[2017-08-04 13:40] ajj7060 commented on #394
@Chicagoan2016 I would recommend not using DataPortal.XYZ<T> calls outside of the business layer anywhere.  The data portal should be an implementation detail that your application doesn't really know about.

In your business layer though, I don't think you need to avoid calling DataPortal.XYZ<T>.  An example might be if you want to do dependency injection, so you might have an IProductFactory, an

[2017-08-04 15:39] rockfordlhotka commented on #403
This might be a bug in the analyzer - @JasonBock would know.

[2017-08-04 17:33] Chicagoan2016 commented on #394
Thanks @ajj7060  for the helpful post, the last part "as that will be familiar to other Csla devs (if you happen to find one to hire)." made me smile : )

Regards

[2017-08-07 14:34] fujiiface commented on #101
Thanks @jonnybee!

[2017-08-07 18:38] fujiiface opened #404 "IsNotNew Gateway ChainedContext Rule"
Hi all,

I am trying to implement a gateway rule to require a property when the object is not new using the RuleTutorial project's sample code.  I have a few passing tests using the `IsNotNew` chained rule but one of them is not working and I am not sure why.  Here's the relevant code:

## Root object
[code]

## Rule
[code]

## Test
[code]

[2017-08-07 19:38] jonnybee commented on #404
Dataportal_Fetch does not call  BusinessRules.CheckRules(). You must add this line in your override of the fetch method to force validation.

[2017-08-07 20:20] fujiiface commented on #404
Right you are @jonnybee.  I'm still in the overriding `IsValid` headspace from when I was first learning CSLA and not all of my code has been converted.  Apologies for the duplicated question and thanks for pointing me in the right direction again.

[2017-08-07 20:20] #404 closed

[2017-08-08 01:43] angtianqiang opened #405 "clsa-itemtemplate no work in VS2017"
clsa-itemtemplate no work in VS2017

[2017-08-08 15:12] #386 closed

[2017-08-09 18:20] fujiiface opened #406 "Unit Testing Lookup Rules"
Hi all,

I have implemented a Lookup rule based on the `RuleTutorial` solution's `2.08 LookupRule` project and wanted to unit test it.  Within the `RuleTutorial` solution there is a unit test project for lookup rules which I have mostly followed.  I am a little confused though about the actual lookup part.

The `LookupRule` tutorial has a `LookupCustomerCommand` object which simulates a customer l

[2017-08-09 20:15] fujiiface commented on #403
@ajj7060 @rockfordlhotka @JasonBock So, even though the analyzer doesn't throw the error it's safe to say that I should go through my ReadOnlyBase classes and update them?

[2017-08-09 20:18] rockfordlhotka commented on #403
Yes, in all cases the static property field should look like this (from the standard snippet):

[code]

[2017-08-09 20:23] fujiiface commented on #403
Thanks @rockfordlhotka!

[2017-08-09 22:14] ajj7060 commented on #406
Yes, you'll have to create an interface which represents the command and mock the interface for unit testing your rule.  Unless you do want to setup the database and actually have the rule hit the database, but IMO that's more an integration test, and tests that hit the DB are much harder to maintain.

You could mock the data access which the LookupCustomerCommand uses as well, and then your rule

[2017-08-09 23:09] rockfordlhotka commented on #341
I just committed the PR for this feature, so it is in master

https://github.com/MarimerLLC/csla/pull/755

There are still some items on the [6.7.100 backlog](https://app.zenhub.com/workspace/o/marimerllc/csla/boards?milestones=4.7.100%232017-08-15&repos=8085749), but I'm considering putting out a beta release just for the in-place merge so people can help test it.

If I did that, would you test a

[2017-08-09 23:42] rockfordlhotka opened #407 "WebAssembly and mono"
It is early days, but it is clear that CSLA .NET will end up running in webassembly at some point 😄

http://www.mono-project.com/news/2017/08/09/hello-webassembly/

[2017-08-09 23:43] rockfordlhotka commented on #405
This was recently added as a backlog issue, thank you!

https://github.com/MarimerLLC/csla/issues/752

[2017-08-10 02:14] JasonBock commented on #403
Wait, why was this closed? I never had a chance to look at the analyzer and see if there's a bug there (been way too busy with being on vacation the past 5 days :)). Let's re-open it please until I determine that there truly is an issue.

[2017-08-10 02:48] fujiiface commented on #403
Reopened.  Sorry didn't think it was an issue but I'll leave it open until you say otherwise.  Thanks for looking into it.

[2017-08-10 08:51] tfreitasleal opened #408 "New Identity property"
@rockfordlhotka concerning #755 inplace deserialization, can you elaborate on the new Identity property

[2017-08-11 03:06] rockfordlhotka commented on #408
It is fairly straightforward.

In order to merge an object graph into another graph it is necessary for each object within the graph to be uniquely identifiable. And this unique id needs to flow across AppDomain and network boundaries, so things like `ReferenceEquals` isn't useful.

What I've done is to add an `int` property to `IBusinessObject` and therefore to every stereotype in CSLA. The non-e

[2017-08-16 07:38] michaelcsikos opened #409 "Occasional edit level mismatch in AcceptChanges"
Hi Rocky, Jonny, et al

In a WinForms project I still get the occasional `UndoException`. I'm finding it practically impossible to reproduce and debug, but I have received bug reports from my client with screencaps. I am following the recommended approach for binding, unbinding, saving and rebinding. It's a reasonably complicated form with sort and filter columns and several child binding sources.

[2017-08-16 12:11] tfreitasleal commented on #409
Hi Michael,
I think you are refering to CslaContrib's BindingSourceExtensions. A few months ago, I published [CslaExtremeDemos](https://github.com/tfreitasleal/CslaExtremeDemos) to explore/test some less usual Csla scenarios. I can't remember the exact details but I found some issues using CslaContrib's BindingSourceExtensions. So I ended up testing a changed version you can find on
`...\Source\Cs

[2017-08-16 18:46] sdenison commented on #402
I just wanted to let folks know that other than this small issue, CSLA .NET is working really well in the HoloLens application we're developing in Unity. It saves us a ton headaches associated with saving state from the client to the server.

[2017-08-17 08:24] jonnybee commented on #409
It is a tricky situation to debug. Which version of CSLA are you using?

The challenge is to find out where and how there is a child item that is still beeing edited.

You _could_ make a special debug window that inspects the object graph and show/highlight the objects that have EditLevel > 0. THis would at least hopefully identify the objects/list that is the culprit.

[2017-08-17 09:03] GillesBer commented on #409
We also had lot/and still have some sporadic issues on our Winform app.
In order to diagnose it, we fork the CSLA code base, adding additional child/parent editLevel and child/parent descriptions.
Note: The last releases (CSLA 4.6.600) already improves diagnosis with the child/parent editLevel .

In Csla.Share\Core\UndoException.cs
public UndoException(string message, string typeName, string paren

[2017-08-17 14:55] tfreitasleal commented on #409
Hi GillesBeer,

This is a very difficult area to diagnose. I had some hard experiences on another project, because I wasn't using BindingSource objects (I was binding directly to CSLA objects/lists). If your code improves diagnosis over CSLA 4.6.603, I think a PR is welcome.

[2017-08-17 17:14] streagan123 opened #410 "Is there a way to get a list of all business rules across all editable objects?"
All,
First off, apologies if this isn't the right forum for this, but I wasn't sure where else to put it.

Currently, we have a business library using CSLA.  What I need to do is to get a list of all of the business rules for each of my editable objects that I can provide to an external party.  Does anyone have a decent approach to this?  Reflection?

example
Person Object

* First Name Required
*

[2017-08-18 02:08] michaelcsikos commented on #409
Thank you all for your responses. In a way, I'm glad I'm not the only way wrestling with these issues with WinForms. Tiago, I have downloaded your extreme demos and had a look. I am currently using CSLA 4.6.500. I plan to update in the near future. The extra info will help. Jonny, I'll make a debug window, too.

[2017-08-18 11:26] jonnybee commented on #410
That depends tho' on how you register rules.

Remember:
1. Rules is registered when an instance of a type is created the first time (once-per-type)
2. Each RuleSet is considered a complete "set of rules for the type" - if used.

You could use something like this:

    // create instances of your objects
    new Root();
    new Root2();
    new Child1();

    // get the perTypeRules dictionary

[2017-08-19 15:48] #287 closed

[2017-08-23 04:33] michaelcsikos opened #411 "Csla.ApplicationContext.User and SerializationException in Office add-ins (with demo zip)"
I am getting some weird behaviour trying to set `Csla.ApplicationContext.User` to a new `Csla.Security.UnauthenticatedPrincipal` or my own custom principal inside a Word add-in. I am using the `Csla.ApplicationContextManager`. All of this works perfectly in a standalone form.

As you can see from the following test method, the principal is an `UnauthenticatedPrincipal` at the start, and the messag

[2017-08-23 04:55] michaelcsikos commented on #411
OK, more strange behaviour. If I leave out the very first `MessageBox` displaying "Before principal set", the rest works in `TestPrincipal1`. The "After principal set" message displays correctly.

[2017-08-23 05:03] michaelcsikos commented on #411
[code]

[2017-08-23 22:46] michaelcsikos commented on #411
I have updated to CSLA 4.6.603, but the behaviour is the same.

[2017-08-24 01:33] rockfordlhotka commented on #411
I don't know what's going on, but I have a couple thoughts.

First, it is most likely that your code is using the default application context, which relies on the current thread for the current principal. Different host environments manage (or don't manage) the current principal in different ways. It could be that Word is doing something odd/different.

Second, some host environments (most notably

[2017-08-24 01:34] rockfordlhotka commented on #411
I don't know what's going on, but I have a couple thoughts.

First, it is most likely that your code is using the default application context, which relies on the current thread for the current principal. Different host environments manage (or don't manage) the current principal in different ways. It could be that Word is doing something odd/different.

Second, some host environments (most notably

[2017-08-24 01:34] rockfordlhotka commented on #411
I don't know what's going on, but I have a couple thoughts.

First, it is most likely that your code is using the default application context, which relies on the current thread for the current principal. Different host environments manage (or don't manage) the current principal in different ways. It could be that Word is doing something odd/different.

Second, some host environments (most notably

[2017-08-24 01:44] michaelcsikos commented on #411
Thanks for your reply, Rocky.

In `ThisAddIn_Startup` I am doing the following:

[code]

We have been using the `SerializationWorkaround` code for almost 10 years because of problems with AutoCAD.

[2017-08-24 06:12] michaelcsikos commented on #411
If I call the following method before any UI code, the problem seems avoidable:

[code]

[2017-08-24 15:42] iherwald commented on #411
We had a similar problem when using CSLA in application extension modules of Autodesk products (e.g. AutoCAD or Revit).
All assemblies are located in the same folder, but some dependent assemblies could not be loaded into the AppDomain of the host application when accessed in "server-side" methods of the local data portal.

Our solution is to handle the "AppDomain.CurrentDomain.AssemblyResolve" ev

[2017-08-25 00:29] angtianqiang opened #412 "CriteriaBase class does not provide change notification function"
CriteriaBase class does not provide change notification function

CriteriaBase base class ManagedObjectBase implement INotifyPropertyChanged interface, but not in LoadProperty method call OnPropertyChanged method, in the WPF to define attributes like this:

Public static readonly PropertyInfo < string > StartDesProperty = RegisterProperty < string > (c = > c.s. tartDes);
Public string StartDes
{
T

[2017-08-25 06:20] jonnybee commented on #412
CriteriaBase is not intended to be used for DataBinding (or UI).

It is created as a DTO object for sending complex objects (more than one value) over the data portal.  CriteriaBase support the MobileFormatter and thus all platforms that CSLA can run on.

[2017-08-27 09:15] michaelcsikos commented on #411
Thanks for the reply. Turns out the `ApplicationContextUserWorkaround` doesn't always work, no big surprise. Every referenced DLL is sandboxed by the Office apps into separate folders at runtime with an `__AssemblyInfo__.ini` file. This makes it difficult to provide a path to `Assembly.LoadFrom` in the `AssemblyResolve` event handler. The path ends up something like

`C:\Users\Michael\AppData\Loca

[2017-08-28 06:21] michaelcsikos commented on #411
[CslaOffice.zip](https://github.com/MarimerLLC/cslaforum/files/1255275/CslaOffice.zip)

I have attached a test solution which demonstrates some of the issues I am experiencing. It has a very basic custom identity, a basic business object which reads from a generated XML file, and a form with three buttons. It's using:
- a version of the `SerializationWorkaround`,
- `Csla.ApplicationContext.Propert

[2017-08-30 15:49] iherwald commented on #411
After some investigations, I found a kind of work around.
It works (all 3 test routines, sync and async) for me at the CslaOffice sample (WordAddIn with Office 2010):

        private void ThisAddIn_Startup(object sender, System.EventArgs e)
        {
            // SerializationWorkaround (handling the AppDomain.AssemblyResolve event ) does not help here.
            //SerializationWorkaround.Ini

[2017-08-30 17:47] Chicagoan2016 opened #413 "PropertyChangedMode Property"
In a Windows Forms applications, is it still recommended to set PropertyChangedMode to Windows?
If yes, where should we set this property?

kind regards

[2017-08-30 18:02] rockfordlhotka commented on #413
Yes, if you don't set this then data binding will not refresh properly in some cases.

You can set it once as the app starts up, so in the app main method, or the first window's loaded event handler (assuming you have a single first window that loads).

[2017-08-30 18:29] tfreitasleal commented on #413
Or you can set in the `app.config` file, in the `appSettings` section like this
[code]

[2017-08-30 20:52] rockfordlhotka opened #414 "netstandard 2.0 preview online"
I just pushed a preview of CSLA 4.7.100 to NuGet.

Primary enhancements:

1. Support for netstandard 2.0 (largely untested - I appreciate any help here!)
1. MobileFormatter optimizations thanks to @JasonBock [#748](https://app.zenhub.com/workspace/o/marimerllc/csla/issues/748)
1. new `GraphMerger` class to merge results of a save back into the original object graph [#755](https://app.zenhub.com/wo

[2017-08-30 23:41] michaelcsikos commented on #411
Ingo, wow, thank you! This problem has had me in a holding pattern for the last week; I've had to delay a new update.

Yesterday, I posted this question on Stack Overflow. If you have an account and would care to paste your answer there, I will mark it as the answer.
https://stackoverflow.com/questions/45955078/c-sharp-serializationexception-in-office-2013-2016-vsto-add-ins-with-csla

Thanks again

[2017-08-31 04:11] michaelcsikos commented on #411
[CslaOffice 2.zip](https://github.com/MarimerLLC/cslaforum/files/1265692/CslaOffice.2.zip)

I've come across another scenario where Ingo's workaround doesn't seem to work. It's simply a click event for a button in the ribbon:

[code]

The attached zip demonstrates the issue in Outlook and Word.

What I've found is that before any UI is displayed by any ribbon control event handler, I need to re-ru

[2017-09-01 02:57] rockfordlhotka commented on #383
I needed something light to work on today, so I decided to write a quick app to dump the archive posts into a series of (nearly 12k) static html files - one for each thread from the old forum.

This can be regenerated if necessary, but let's see how it goes to start. The old forum contents are now here:

http://cslanet.com/old-forum/

[2017-09-01 03:36] davimack commented on #383
And there you go.  A few indexing pages maybe (e.g., a bunch of author pages linking out to the individual posts) and you'd have some rudimentary navigation by poster or something.  But, hey - the content's not lost, and search engines can index.

Sorry I didn't get 'round to doing anything for you here, but glad you haven't lost the content!

[2017-09-01 04:21] rockfordlhotka commented on #383
Feel free to enhance the app and submit a PR for it 😄

I'll happily re-run it to update the pages.

[2017-09-01 04:23] #411 closed

[2017-09-01 05:06] jonnybee commented on #383
We should also have a link to the old forum on the home page http://cslanet.com

[2017-09-01 07:03] iherwald commented on #411
Good that it helped you.

In old CSLA forum, user "MikeGoatly" explained the work around in
"Tests FAIL running in VS2012, but PASS in VS2010":

[2017-09-02 00:42] davimack commented on #383
Hey - is there an Author ID field in the database schema?  Am thinking it'd be nice to build up author pages along the way, with links to everything that author has written, maybe, and to link out to the author from the individual post pages.  Not sure it's all that useful - just some more information that might be worth keeping.

[2017-09-02 15:56] tfreitasleal opened #415 "Samples need update"
I was trying to run the sample ActionExtenderSample and found out it's a VS2012 solution and the NuGet.config file reports an error because it's missing the <configuration> element.

In fact all NuGet.config file miss the same element and most samples are VS2012.

I plan to update all NuGet.config. Are atere volunteers to help update SLN files to VS2017?

[2017-09-04 23:07] tfreitasleal opened #416 "CslaContrib 4.6.600 on NuGet"
# CslaContrib 4.6.600 Release Notes

## Published modules
- CslaContrib
- CslaContrib-Caliburn.Micro.WPF
- CslaContrib-Caliburn.Micro.V2.WPF
- CslaContrib-CustomFieldData
- CslaContrib-MEF
- CslaContrib-ObjectCaching.AppFabric
- CslaContrib-Windows
- CslaContrib-Wisej * * * NEW

## General changes
- linked against CSLA .NET 4.6.603
- includes binaries for .NET 4.0, 4.5 and 4.6
- sign all assemblie

[2017-09-06 21:08] rockfordlhotka opened #417 "ApplicationContext change"
I am looking at making a change to the way the default ApplicationContext is managed - specifically for the `User` property, and local/client/global context dictionaries.

I've actually implemented the change, and would appreciate any feedback folks have on it.

https://github.com/MarimerLLC/csla/issues/729#issuecomment-327609037

This is a breaking change, but I _think_ only for people who've bee

[2017-09-06 23:09] tfreitasleal commented on #417
Why only on .NET 4.6 or higher?

[2017-09-06 23:12] rockfordlhotka commented on #417
Because `AsyncLocal` doesn't exist on .NET 4 or 4.5.

[2017-09-07 14:03] tfreitasleal commented on #416
Release 4.6.601 updates CslaContrib-Wisej
Changes the ApplicationContextManager since it was using HttpContext. Now it uses Wisej.Base.ApplicationBase.

[2017-09-07 14:29] tfreitasleal opened #418 "CSLA samples for Wisej"
I must say I have no interest on Wisej other than technical.

[Wisej](http://wisej.com) is a platform that allows the migration of WinForms desktop applications to web applications with minimal changes. It's predecessor was Visual WebGUI but the later platform is no longer available.

## How to migrate from WinForms to Wisej?
1. create a Wisej project
2. copy all *.CS (or *.VB) file to the Wisej p

[2017-09-07 16:57] Chicagoan2016 commented on #405
May be this will help
https://github.com/MarimerLLC/cslaforum/issues/363

[2017-09-07 19:33] ajj7060 opened #419 "Parameters to type auth rules?"
In our system, you can login at some point in an organizational hierarchy.  Being at a certain level does not necessarily imply that you have permissions at "lower" levels.  Consider a tree, node L has children nodes P and M.  The user can login at L (the currently logged on tree node is stored in the Identity), but he may be able to perform some action in P, but not in M.

Our codebase is old, an

[2017-09-07 22:42] tfreitasleal commented on #419
I'm not sure I understand the issue. As far as I understand you need a rule that doesn't apply to all instances (objects) of a given type, but should return different results according to some the specific instance object. Let's call it a dynamic rule, one whose result isn't cached - CacheResult always returns false.

If that's the case, have a look at [CslaContrib authorization rules](https://git

[2017-09-08 06:44] jonnybee commented on #419
Some times you have access to the target object - in context.Target but f.ex. Create there is no object created yet so that will be null. So in some situations you can read values from the

It seems like you want to pass the id of the parent node to the authorization rule (or some "context" value value of the parent/selected node). You could store the "current" value in ClientContext and access th

[2017-09-08 10:23] tfreitasleal commented on #419
On second thoughts, all you need is to write a dynamic rule (CacheResult always returns false), since it all depends on the currently logged on tree node and that information is stored in the Identity.

[2017-09-08 12:35] ajj7060 commented on #419
I think there's some confusion about what I'm trying to do.  Basically, our software's customers are other companies, and their employees are users of our application.  The users can logon at their company root level (tree node L), or at one of two departments (tree nodes M & P).  If the user logs on at the company level, they might have permission to create purchase orders in department M, but no

[2017-09-08 12:53] CrossSlide opened #420 "Simple WPF 2-tier Example"
Does anyone know of an example somewhere of how to wire-up a CSLA+WPF+WCF 2-tier SQL Server application without MVVM?

I have built Windows Forms 2-tier CSLA applications in the past using version2.0 (yes I’m that old) and loved it. I’m new to WPF and WCF. Trying to strip out the many CSLA options like Silverlight, MVVM, etc. in the CSLA4 docs is difficult when you don’t even really know WPF and W

[2017-09-08 12:57] ajj7060 commented on #419
My second approach won't work; you can only pass a Type or Object, not both :)

[2017-09-08 15:46] Chicagoan2016 commented on #341
Something I would like to add ( not sure if it's related to the current discussion), in some of my 'larger' applications I have to call different but related 'Insert' stored procs for the same object. I know we can overload DataPortal_Create, Fetch and Delete methods but could never figure out how to overload Save methods. I understand that it's probably  going against the single responsibility pa

[2017-09-08 16:26] rockfordlhotka commented on #341
@Chicagoan2016 can you spin that into its own thread?

[2017-09-08 16:31] Chicagoan2016 opened #421 "Overloading Save() method"
In some of my 'larger' applications I have to call different but related 'Insert' stored procs for the same object. I know we can overload DataPortal_Create, Fetch and Delete methods but could never figure out how to overload Save() methods. I understand that this approach probably against the single responsibility pattern.

Regards

[2017-09-08 16:35] rockfordlhotka commented on #420
If you are implementing a 2-tier model then you won't need WCF. The client can configure the data portal to run in "local mode", so the "app server" components run on the client device and talk directly to SQL Server.

Using WPF without MVVM is possible, but isn't a particularly good idea (imo). The MVVM pattern provides some very nice clarity about how to structure your presentation layer code.

[2017-09-08 16:37] rockfordlhotka commented on #405
Anyone wanting to help get this sorted out is welcome to do so. Seriously, I'd love it if someone could take the time to update the script to do the copy to the VS2017 folders too.

[2017-09-08 16:41] rockfordlhotka commented on #383
@jonnybee I added a link on the home page as you suggested.

[2017-09-08 16:42] rockfordlhotka commented on #383
@davimack yes, there are author name and author id columns, and there's probably one or more tables with profile info from the author - I didn't actually look beyond just the table with the posts.

[2017-09-08 16:50] rockfordlhotka commented on #421
This may not be against the single responsibility pattern. Remember that your domain objects exist to support the needs of the user scenario (and/or UI), so _that_ is the responsibility. The underlying data management isn't the responsibility of the domain object, that's the responsibility of the DAL.

You can't overload `DataPortal_Update` or `DataPortal_Insert` because those methods operate agai

[2017-09-08 16:53] rockfordlhotka commented on #415
For record keeping purposes, here are links to the issues around fixing samples:

* https://app.zenhub.com/workspace/o/marimerllc/csla/issues/763
* https://app.zenhub.com/workspace/o/marimerllc/csla/issues/678

[2017-09-08 17:01] Chicagoan2016 commented on #421
Thank you Rocky, my code does look at the state to determine the appropriate stored proc to call.
kind regards

[2017-09-08 18:02] ajj7060 commented on #275
WP8.1 isn't going to be around much longer.

[2017-09-08 18:02] #275 closed

[2017-09-08 21:26] rockfordlhotka opened #422 "ClaimsPrincipal vs IPrincipal in netstandard2.0"
I just blogged about a conundrum we're facing while implementing support for ASP.NET Core 2.0. Specifically that ASP.NET Core (unlike all other .NET versions and platforms) requires the use of `ClaimsPrincipal` instead of `IPrincipal` for user identity.

http://www.lhotka.net/weblog/IsIPrincipalDead.aspx

Looking for people's thoughts on this matter.

[2017-09-11 14:03] CrossSlide commented on #420
Ok, thanks for the tips!

[2017-09-11 17:16] Chicagoan2016 opened #423 "LazyGetProperty() helper method"
I was adding a childlist to a parent object and I wanted to 'lazy load' the child collection, I noticed the snippets created a property with 'older' syntax which is  different than the current code base of project tracker sample.
The project tracker is using LazyGetProperty method. Is this the preferrable syntax now?

regards

[2017-09-11 17:54] fujiiface opened #424 "Quick obsolete SingleCriteria question"
After updating CSLA a few months ago I started getting the analyzer warning `'Csla.SingleCriteria<DMS.Library.Entities.LetterList, int>' is obsolete: 'Use custom class derived from CriteriaBase e.g. ProjectCriteria : CriteriaBase<ProjectCriteria> instead.'`

I've been resolving these as I go through code by replacing the criteria parameters with just the single parameter.  In the the example code

[2017-09-11 18:06] Chicagoan2016 commented on #424
@fujiiface ,
this is strange, I coding an object as i write this, I am using an int as a criteria and VS 2017 is building the project without any errors.

[2017-09-11 18:21] fujiiface commented on #424
@Chicagoan2016 I am getting a warning about it, not an error.  My project continues to build and deploy.  I am just curious as to whether I should be creating a criteria class for a single int parameter or is it alright to just pass the integer.  Creating the criteria class seems like overkill to me unless it is required for serialization.

[2017-09-11 18:29] fujiiface commented on #423
@Chicagoan2016 I have a similar thread open right now: https://github.com/MarimerLLC/cslaforum/issues/324

The current LazyLoad syntax, as far I have been told and seen is as follows:
[code]

I want to create an MVC sample when I have time that will also show Insert/Update/Delete or update current examples but I haven't gotten around to it yet.

[2017-09-11 18:37] tfreitasleal commented on #423
Good point. I thought I got it all right. I even made my own demo
https://github.com/tfreitasleal/CslaExtremeDemos/tree/master/LazyProperties
but it turns out I broke ProjectTracker. I'm investigating the issue but since I have projects that use `DataPortal.CreateChild` and others that use `DataPortal.CreateChild` and `DataPortal.Fetch` I'd say it depends on the child data portal.

For ProjectTrac

[2017-09-11 19:16] rockfordlhotka commented on #424
You can just pass the `int` - that's why the old type is obsolete - a long time ago CSLA was enhanced to allow single primitive values to just flow through the data portal without being wrapped in an extra type.

[2017-09-11 20:23] Chicagoan2016 commented on #423
@tfreitasleal,
Thanks and please let us know of any changes

[2017-09-11 21:43] fujiiface commented on #424
Thanks @rockfordlhotka!

[2017-09-11 21:43] #424 closed

[2017-09-12 11:02] tfreitasleal commented on #423
As I told you before, have a good look at my demo above, because the UI is truly lazy loading the child collection.

Let's elaborate a bit about LazyLoad.

1) First of all, the UI must be able to LazyLoad, say load a collection only when it shows a tab contents, or when you click a button to populate a list/grid. ProjectTracker doesn't work like that as it always shows all the object data.

2) At

[2017-09-12 17:40] rockfordlhotka commented on #422
Microsoft has made it pretty clear that `ClaimsPrincipal` is the future (.NET 4.5 and higher). Of course `ClaimsPrincipal` implements `IPrincipal`, so technically that type remains valid, but more and more it isn't enough to just implement `IPrincipal`, you need to subclass `ClaimsPrincipal`.

What's really unfortunate is that `ClaimsPrincipal` and `ClaimsIdentity` don't have their own interfaces

[2017-09-12 18:13] mj1856 commented on #422
Hi Rocky.  I left some suggestions for you in the blog post comments, but Disqus somehow marked it as spam, so not showing currently...  Anyway, I'll repaste it here:

Then, I'd also go to `Csla.Security.CslaPrincipal` and anywhere else you may be implementing `IPrincipal` yourself, and update those to be based on `ClaimsPrincipal`.

[2017-09-12 18:32] rockfordlhotka commented on #422
Thank you for reposting @mj1856 - I don't know why it disappeared from Disqus...

[2017-09-12 18:41] rockfordlhotka commented on #422
The fact that `ClaimsPrincipal` and `ClaimsIdentity` are _concrete types_ instead of interfaces - that's really the painful part of this!

[2017-09-12 19:44] mj1856 commented on #422
I guess I'm not fully following (sorry, I'm not actively using CSLA), but say it did affect your WinForms users.  Would it matter?  I mean, if their principle is a `WindowsPrincipal`, then they already are compatible with `ClaimsPrincipal`, It's only any custom principals created directly from `IPrincipal`, such as your `CslaPrincipal` that would matter, and if you base that on `ClaimsPrincipal` t

[2017-09-12 20:02] rockfordlhotka commented on #422
People often use custom principal objects with CSLA, allowing client-side identities to flow to app servers (independent from windows identities). For example, if you build an app that is a shared kiosk on a manufacturing floor you don't have users log in/out of Windows, you just have them log in/out of your app.

So people who've created custom principal/identity types will need to alter their ty

[2017-09-12 22:03] mj1856 commented on #422
So, I've been digging trying to find some guidance for you, and came up with a few things.

1. [What's New in Windows Identity Foundation 4.5](https://docs.microsoft.com/en-us/dotnet/framework/security/whats-new-in-wif) describes the introduction of `ClaimsPrincipal` as it describes WIF being integrated with .NET Framework 4.5, around 2012.  So, this isn't a new thing.

2. [This blog post](https:/

[2017-09-13 03:54] michaelcsikos commented on #411
There are still scenarios where all of these workarounds fail. I have loads of these exceptions logged on a client's PC. My only option seems to be installing CSLA in the Global Assembly Cache.

[2017-09-13 11:06] tfreitasleal commented on #423
I'm afraid I can't help you. I suggest you have a look at CslaMVC sample.

[2017-09-13 11:46] tfreitasleal opened #425 "CslaGenFork moved to GitHub"
Following CodePlex's phase out, CslaGenFork has moved to https://github.com/CslaGenFork/CslaGenFork

By the way, the transfer process has identified a CslaGenFork contributor with the CodePlex id **_MCLWEB** (or RNO\_MCLWEB) but have no idea who this contributor might be. I'd like to give this contributor the proper credit. Anyone?

[2017-09-13 16:03] ajj7060 commented on #422
We use custom principal / identity classes too (in WinForms, Asp.Net, and Xamarin), but we subclass them from CslaPrincipal/CslaIdentity.  If those suddenly inherited ClaimsPrincipal/ClaimsIdentity, I don't think that would cause us any issue.  Wouldn't most that need a custom principal do that as well? It seems that's easier to do than implement IMobileObject on your own.

I guess it depends on h

[2017-09-13 16:06] ajj7060 commented on #423
Its been a while since I did anything advanced with MVC & Csla, but when I was I just created ModelBinder subclasses.  The model binder for the Root Csla object would check for an ID and either call the New or Get factory as needed.  Then delegated the actual mapping of posted values to the object's properties via the DefaultModelBinder.  I think I was subclassing DMB.

[2017-09-13 16:22] tfreitasleal commented on #422
@ajj7060 Agree. The sooner the better.

[2017-09-13 16:32] fujiiface commented on #423
Based on the MVC ebook it looks like I need to create ChildObjectCreator and ChildObjectUpdater command objects since the stateless web interface is a different scenario from smart client applications.

[2017-09-13 16:45] rockfordlhotka commented on #422
I think I'll make the switch explicit though, by adding `CslaClaimsPrincipal` and `CslaClaimsIdentity` types (if I can figure out the serialization).

This would allow people to opt-in to the new types, and also provides some type naming clarity that I think has value.

[2017-09-13 18:37] rockfordlhotka commented on #422
Serializing and deserializing the values in these two Microsoft types is non-trivial. Some of the values transport relatively easily, others are very much not easy.

Also, as I'm doing this, it is hard to envision how to automate serialization of custom subclasses. So I have a question for folks like @ajj7060.

When you subclass `CslaIdentity`, are you adding extra properties and values? If you tr

[2017-09-13 18:54] tfreitasleal commented on #422
I don't know Claims. In one application I subclass `CslaIdentity` and add extra properties: an `int UserID` and a `MobileList<string> Groups`. These are used for autorization purposes. Using a dictionary migh prove inadequate, if it slows down the application (unlikely).

[2017-09-13 21:05] rockfordlhotka commented on #422
The [ClaimsIdentity](https://msdn.microsoft.com/en-us/library/system.security.claims.claimsidentity(v=vs.110).aspx) type is basically an `IIdentity` with some extra properties, most notably a list of `Claim` objects.

The `ClaimsPrincipal` type also has a `Claims` property, that is an aggregate of all the claims from all (yes, there can be more than one) identity objects associated with the princi

[2017-09-13 21:27] Chicagoan2016 opened #426 "very basic question"
I know this question is very basic : ), I have a string read/write csla managed property and I want to have a default value for that property, I am kinda confused about the different overloads of RegisterProperty() what will be the correct syntax of Register property method for this scenario?

regards

[2017-09-13 21:34] rockfordlhotka commented on #422
I just created a PR so it is easier to see what I'm doing - this way you can easily see the new CSLA claims principal/identity types. All the serialization is in the principal type, because I can only "deserialize" `ClaimsIdentity` via their constructor.

In fact, as I type this I realize that I don't really need a _Csla_ClaimsIdentity at all, because I'm really just tearing apart Microsoft's type

[2017-09-13 22:16] iherwald commented on #411
A more resilient solution could be to rely on a neutral (build-in) type like GenericPrincipal/ClaimsPrincipal.
These types are serializable. Unfortunately, at present they can not be serialized by CSLA MobileFormatter without beeing derived.
There is some activity at the CslaClaimsPrincipal and serialization of ClaimsPrincipal subject:
https://github.com/MarimerLLC/csla/issues/496
https://github.c

[2017-09-13 22:26] ajj7060 commented on #422
@rockfordlhotka Yes, I've added custom properties to the identity, like UserId was used in many places for populating LastUpdatedBy data in the DB when the user modified data.  I had some other data too.  But I think each property would just become a Claim.  That matches up with my knowledge of the SAML SSO standard, which IIRC includes the idea of claims and as you said they are just key/value pa

[2017-09-13 22:39] michaelcsikos commented on #411
My latest discovery is that installing Csla.dll in the GAC seems to solve the problem. No workarounds are required at all. It's a bit of a last resort, but so far it looks like the only reliable solution.

[2017-09-13 22:43] ajj7060 commented on #422
Glancing at the ClaimIdentity documentation, and perhaps being a bit naive, but perhaps MobileFormatter could special case ClaimsPrincipal/ClaimsIdentity and call their WriteTo to get a binary representation of the objects, and stuff that data into the stream.

[2017-09-13 22:45] rockfordlhotka commented on #422
Did you see a way to use that binary data to rehydrate an instance of the object though? There's a constructor for it in UWP, but I don't see it on the other (more modern) platforms.

[2017-09-13 22:45] ajj7060 commented on #426
`RegisterProperty(x => x.MyString, "My string friendlyname", "MyStringDefaultValue");`

[2017-09-13 23:11] michaelcsikos opened #427 "Use CslaPrincipal without inheriting? (public constructor)"
I have been trying to solve a problem with VSTO add-ins and `SerializationException` for `UnauthenticatedPrincipal` and my custom principal inheriting from `CslaPrincipal`. (See [here](https://github.com/MarimerLLC/cslaforum/issues/411).)

So far the only reliable solution seems to be installing _Csla.dll_ in the GAC. I will also need to install one of my own assemblies in the GAC, where my custom

[2017-09-14 00:20] michaelcsikos commented on #427
I will probably make a new assembly just for the custom principal to go in the GAC.

[code]

[2017-09-14 15:09] Chicagoan2016 commented on #426
Thanks @ajj7060 , In the RuleTutorial sample, under project CompareFieldsRules there is a property declaration of
public static readonly PropertyInfo<SmartDate> StartDateProperty = RegisterProperty<SmartDate>(c => c.StartDate, null, new SmartDate() {Date = new Func<DateTime>(() => DateTime.Now).Invoke()});

If I am not mistaken here the default value is the current datetime? boy,writing this kind

[2017-09-14 15:14] Chicagoan2016 commented on #423
@fujiiface , I prefer writing one object similar to RoleEditManager.cs in ProjectTracker, just my two cents : )

[2017-09-14 19:23] ajj7060 commented on #422
Hmm, I didn't look at the documentation that closely, so its possible the ctor you need doesn't exist.  That would be a bummer.

[2017-09-14 19:30] ajj7060 commented on #427
I've been watching that thread; its too bad the cheesy config section workaround didn't solve it.  I had a similar problem in my unit tests, but the cheesy workaround fixed it for me.

There's a thread (https://github.com/MarimerLLC/cslaforum/issues/422) on creating a CslaClaimsPrincipal.  Maybe Rocky and include a public ctor on that one although that wouldn't help you now.

Probably stuck just p

[2017-09-14 19:35] ajj7060 commented on #426
The default value will be a date time.  You'd have to test it though, I suspect that doesn't do what you think it does, which is get the current date time at the time the BO containing that property definition is created.

i've been bitten by that once, but trying to put `new MobileList<string>` as the default.  It didn't work, because EVERY instance of the BO was sharing a single instance of the

[2017-09-14 19:37] ajj7060 commented on #423
@fujiiface That's another way to go.  I just found it easier to fetch the latest from the DB each time.

[2017-09-14 20:11] fujiiface commented on #423
@Chicagoan2016 Briefly looking at RoleEditManager.cs, it looks like that is exactly what the ChildObjectCreator/Updaters do.  I just called them more generic than what they are in the book.

@ajj7060 I'm not sure what you mean exactly.  From past implementations we have usually used the child `Id` to get a BusinessBase object and insert/update it from directly then reload the parent object with th

[2017-09-15 08:59] jonnybee commented on #426
It is important to understand the difference between value type and reference types.

Default value on RegisterProperty only works as expected for value type.

SmartDate is a "struct" (which is a value type(`) and MobileList<string> is a reference type.

See: https://msdn.microsoft.com/en-us/library/4d43ts61%28v=vs.90%29.aspx?f=255&MSPPError=-2147217396 and http://www.albahari.com/valuevsreftypes.

[2017-09-15 12:06] jonnybee commented on #426
And the reasoning behind this is that a reference type (typically a child list/child  object) should either be set to a default value in DataPortal_Create/Child_Create or be loaded in DataPortal_Fetch or be lazy loaded when the property getter is called the first time.

[2017-09-15 12:47] ajj7060 commented on #426
Thanks Jonny, I'm familiar with how reference types and value types work.  But that's missing the point of this thread, which is that RegisterProperty's DefaultValue parameter only allows for what effectively becomes a constant.  The confusion here is the code from the RuleTutorial sample, which seems to imply you can have a default value which is "now."

`public static readonly PropertyInfo Start

[2017-09-15 13:33] jonnybee commented on #426
Ok, I see the issue now.

[2017-09-15 16:29] Chicagoan2016 commented on #426
Thanks @ajj7060 , I am glad you explained this with sample code, I have to go back and change some code. I forgot the way RegisterProperty method works and thought the default value would work like regular non-csla properties.

Regards

[2017-09-15 16:31] rockfordlhotka commented on #426
I wonder if we should look at an overload that accepts an Action that you can supply to initialize the value?

[2017-09-15 16:37] Chicagoan2016 commented on #426
@rockfordlhotka , do you mean a new overload? or one of the nine overloads currently available.

kind regards

[2017-09-15 16:40] rodneyworkman291 opened #428 "Can authorization rules be invoked on a child object?"
I have a EditableChild object for addresses.  I only want the address to be editable for some flavors of address but not all addresses.  I wrote a custom authorization rule but I have realized that its never enforced/invoked.  Just for grins I also tried to use the CommonRules IsInRole() but that was also not enforced.

Then I found a comment from Jonny Bekkum in the older forums that said For chi

[2017-09-15 21:23] rodneyworkman291 commented on #428
I gave up trying to make the Child Object read only.  I implemented a property level rule instead and just applied to all properties in the child object.  This solution worked for me.  Would still be interested in learning how others solved this type of problem.

[2017-09-15 21:34] #428 closed

[2017-09-15 22:02] ajj7060 commented on #426
@rockfordlhotka That'd be a nice addition I think, personally.  Its not a huge issue I think, but the way things currently are some of the initialization is in the RegisterProperty calls, and other other in the _Create DP methods, so to see how everything overall is initialized you need to look in multiple places.  An `Action<T>` might let people do all the defaulting in RegisterProperty, like thi

[2017-09-16 13:50] jonnybee commented on #428
I'd rather just overload the CanWriteProperty method on the child object to
return false when the object is readonly.

1. There can only be one-1 authz rule per type, action and method/property
(so I can still add authz rules)
2. Any new properties added to the object later on will also be made
readonly.

2017-09-15 23:34 GMT+02:00 Rodney <notifications@github.com>:

[2017-09-16 16:53] fujiiface commented on #423
@Chicagoan2016 My apologies.  I was looking at this thread again and think I misread your last response.  Both creator and updater in one object is the way I would go, too.  :)

[2017-09-17 01:15] tfreitasleal commented on #416
Release 4.6.602 with minor rules fixing:
- allows rule NoDuplicates to be used with all kind of CSLA editable collections
- reorganizes rules namespaces

[2017-09-17 02:09] tfreitasleal commented on #416
There is a new sample: [Wisej](http://wisej.com) version of ProjectTracker..

[2017-09-17 02:26] tfreitasleal opened #429 "CslaGenFork 4.6.0 release"
Published at [CslaGenFork 4.6.0](https://github.com/CslaGenFork/CslaGenFork/releases/tag/v4.6.0)

## Fixes and new features

1. Besides SQL Server, code generation can target other database engines.

2. Numerous fixes to VB code generation

3. New kinds of CslaObject: abstract base classes, custom criteria classes (wip). The *place holder* is a nie feature that can be used to group objects (in lig

[2017-09-19 13:15] ajj7060 commented on #423
@fujiiface No, I'd always just load the root object and the figure out which children needed to be inserted/updated/deleted, the save the root.

I think it sounds like you're talking about a switchable object (can be either root or child).

Any of the approaches in this thread are fine I think of deal with MVC, there's just no great way of handling this.  I thought at one point the CslaModelBinder

[2017-09-19 13:58] Chicagoan2016 commented on #429
Thank you @tfreitasleal , when you get some down time, I would like to see a simple 'getting started' sort of tutorials. : )

regards

[2017-09-19 14:23] oising commented on #422
@rockfordlhotka I don't know if this is helpful or not, but I bodged something similar a few years ago using CustomReflectionContext to dynamically add new properties/attributes to types/instances of concrete/sealed classes I couldn't extend, in order to prevent making extensive changes to a plugin system.

[2017-09-20 10:03] michaelcsikos commented on #427
I made a tiny new DLL and signed it with a strong name so it can go in the GAC.

And, of course, I had to make an InstallShield Limited Edition project because [it's the only official way](https://docs.microsoft.com/en-us/dotnet/framework/app-domains/how-to-install-an-assembly-into-the-gac) to add assemblies to the GAC. So far, so good. Client is happy, and so am I.

[2017-09-20 10:03] #427 closed

[2017-09-22 15:23] fujiiface commented on #423
@ajj7060 Unfortunately I still have a few important (and complicated) pages keeping a Csla object alive in Session 😢

[2017-09-22 22:24] rodneyworkman291 opened #430 "ErrorProvider and ReadWriteAuthorization extenders not working on child object"
I have a EditableRootObject who has a Editable Child object.

In my windows form app my form is using the ErrorProvider and ReadWriteAuthorization extenders.
On my controls in the form I have set the ApplyAuthorization on ReadWriteAuthorization to true for each control.

There are times when fields in my child object are not editable.  I know from unit testing when I call the childs CanWriteProper

[2017-09-23 10:13] tfreitasleal commented on #430
Hi Rodney,

Are you calling
`BusinessRules.CheckRules();`
on the DataPortal_XYZ methods of the cild object?

[2017-09-24 20:16] Chicagoan2016 opened #431 "code snippet for 'Criteria' properties"
Hi All,
I can't seem to find the code snippet for creating properties inside a 'criteria' object.

regards

[2017-09-24 20:26] fujiiface commented on #431
You should be able to just use a regular property if I'm not mistaken.

[2017-09-24 20:44] Chicagoan2016 opened #432 "Child collection question"
I have used the default implementation of 'AddNewCore' in my collection objects but in a new class that I am writing, I am using "Collection implements AddItem Method" as described on p-118 of Data access book.
For the first question that I am going to ask : ) , my child objects don't require data access or need to run on the server.

right now I have a parent root object Demographic.cs and inside

[2017-09-24 20:46] #80 closed

[2017-09-24 20:47] Chicagoan2016 commented on #431
When we generate a criteria object using the code snippet ( for creating criteria objects) it also generate a simple property as

  public static readonly PropertyInfo<int> IdProperty = RegisterProperty<int>(c => c.Id);
            public int Id
            {
                get { return ReadProperty(IdProperty); }
                set { LoadProperty(IdProperty, value); }
            }

but I can't

[2017-09-24 20:53] fujiiface commented on #431
I don't think I've ever used CSLA backing properties for a criteria object since they don't need to have rules checked.  I just make sure the Criteria object is Serializable.

[2017-09-25 05:56] jonnybee commented on #431
Correct, there is no snippet provided for this - but it is very easy to create.

If you only user  Serializable this implies that you are using one of the built-in .NET Binary Serializers to serialize your objects. Be aware tho that some platforms does not provide a binary serializer which is why the MobileFormatter was created.

[2017-09-25 14:03] rodneyworkman291 commented on #430
Tiago thank you for your suggestion.

Yes.  I verified I am calling **base.Child_Create()** and I know the base Child_Create() is calling BusinessRules.CheckRules() just as you have suggested.  I have evidence that the rules are in fact working in unit test as well as from the UI.  I know they work from the UI because when I test rootObject.IsSavable() and rootObject.IsValid() and even when I exam

[2017-09-25 14:38] Chicagoan2016 commented on #431
thanks @jonnybee  and @fujiiface ,
I modified the snipped for 'read only property with no authorization', I just remove the keyword 'private' before the 'set'.

[2017-09-25 14:53] mareedum1223 opened #433 "Could some one pls post me csla sample project with MVC."

[2017-09-25 15:56] jonnybee commented on #430
The ErrorProvider has a property for DataSource. Thai should be th BindingSource and you must add a separate ErrorProvider for the ChildBindingSource.

IIRC the same goes for ReadWriteAuthorization.

[2017-09-25 17:15] Chicagoan2016 opened #434 "accessing more than one Database in the same business object"
I have a requirement where I need to verify that a certain record exists in one database but when it comes to updating the record , I need to persist the object in another database. I created two connection strings in my web.config.

I am getting exception "Csla.DataPortalException: DataPortal.Update failed (Network access for Distributed Transaction Manager (MSDTC) has been disabled. Please enabl

[2017-09-25 17:15] #431 closed

[2017-09-25 17:27] Chicagoan2016 commented on #434
I read more about it in the Data access book, I am using  [Transactional(TransactionalTypes.TransactionScope)] in my DP_Update method.  Is there a way I could close the connection for the Fetch operation? or should I get remove  [Transactional(TransactionalTypes.TransactionScope)]?

[2017-09-25 17:28] jonnybee commented on #434
By definition, when you open 2 connections for update in 2 different databases inside a transaction the transaction will be upgraded to a distributed transaction and this requires MSDTC.

You may override the Transactional attribute to be no transaction (and possibly get inconsistency between databases) or create some other mechanism for updates such as queues or enable the MSDTC.

[2017-09-25 17:55] jonnybee commented on #434
You could use manual transaction after the lookup in other database inside your DataPortal Update

[2017-09-25 21:49] Chicagoan2016 commented on #434
@jonnybee,
I do the look up the in the DP_Fetch method ( using one connection) and update in the DP_Update ( using the other connection).
I guess I am not following your reply : )

[2017-09-25 21:51] rodneyworkman291 commented on #430
Thanks jonnybee that tip helped.  I was not using a ChildBindingSource as I tried to bind everything to the rootBindingSource.  After creating the ChildBindingSource it all worked as expected.

[2017-09-25 21:51] #430 closed

[2017-09-25 22:27] jonnybee commented on #434
Could you post a sample or gist that shows your dataportal_xyz code?

[2017-09-26 05:05] jonnybee commented on #434
If you call DataPortal.Fetch from the DataPortal_Update this will be called "in-process" using the Local DataPortal and essentially equivalent to having the loookup code inside your DataPortal_Update.

I believe the easiest way for you is to set to no automatic transaction and enclose the update "part" method with a manual transaction.

[2017-09-26 12:58] ajj7060 commented on #434
If everything must be done as a single transaction, you need to enable network DTC settings.  If you search for Component Servers, expand Component Servers -> Computers -> My Computer -> Distributed Transaction Coordinator.  Right click Local DTC and pick Properties, and you'll see the image below.  You'll have to Enable Network DTC access, and Allow Remote clients.  You'll also have to Allow Inbo

[2017-09-26 13:02] ajj7060 commented on #432
I'm not entirely clear on your question, but if you call AddNew, it should return the newly added Address instance.  If you need AddAddress as it takes some parameters needed to create the address, in your AddAddress implementation you'd just call a static factory method on the Address class which takes the parameters:

[code]

[2017-09-26 16:14] Chicagoan2016 commented on #432
@ajj7060 , In my Addresses.cs class, I have a method a method  AddAddress in Addresses.cs class but I am not returning newAddress object like your code is doing.
I am passing all the values that I need to set on the child object as parameters to AddAddress method and therefore I have a criteria object in Address.cs

I am passing all the values as parameters because I don't like code that looks sim

[2017-09-26 16:22] Chicagoan2016 commented on #434
@jonnybee and @ajj7060 , the first query is a select query against one database lets call it DB1, the second query is an update query against another database, say, DB2.(didn't realize the pun).
What I did so far is to have no [Transactional(TransactionalTypes.TransactionScope)] on DataPortal_Fetch  since its a select query any  way : )
On Dataportal_update I have [Transactional(TransactionalTypes

[2017-09-26 18:35] jonnybee commented on #434
I believe your Fetch method is called within the transaction scope of the Update method (i.e: called from inside the Update method).

This is similar to the way the TransactionScope of the Parent will also make any Child_Update/Insert methods be part of the transaction.

[2017-09-26 19:17] Chicagoan2016 commented on #434
@jonnybee , I am not calling the fetch method inside the update method.
I do call the static methods getDemographic() and Save() inside one unit test though.

[2017-09-26 19:23] Chicagoan2016 commented on #433
The 'old' ProjectTracker used to have a MVC project, I am sure one of the veteran csla developers can provide you with the code.

[2017-09-26 19:33] rockfordlhotka commented on #433
This may be the most recent

https://github.com/MarimerLLC/csla/tree/V4-5-x/Samples/NET/cs/ProjectTracker

[2017-09-26 19:43] CrossSlide opened #435 "Windows or Custom Authentication"
Hi, I’m just staring with CSLA4 and WPF. I want my users to be able to use my application without a login step, they’ve already logged into Windows. But, I want to use roles I manage in a SQL table. How do I do this? Do I use Windows authentication or will I need to use Custom authentication? Thanks!

[2017-09-26 20:04] Chicagoan2016 commented on #433
@mareedum1223 , I would also recommend to a get a copy of Using CSLA 4 books, I can't tell you how much have the books helped me in understanding CSLA.

[2017-09-26 22:10] ajj7060 commented on #432
Its basically the same; just change the `CreateChild` call and instead of passing `isoCountryCode` new up your criteria object.

If you need to do data access, you call `Create` instead of `CreateChild` and implement `DataPortal_Create`.  Before DP_C exits, you'll need to manually call `MarkAsChild`.

[2017-09-27 05:34] jonnybee commented on #435
If you have another Roles store than Windows roles you must use Custom authentication.

[2017-09-27 05:35] jonnybee commented on #432
This is basically the same technique that is used for LazyLoading child objects.

[2017-09-27 13:18] CrossSlide commented on #435
So does that mean my users must go through a login step for my application?

[2017-09-27 13:21] jonnybee commented on #435
Not necessarily - you can read values from the WindowsPrincipal (ex: current username) or you can also read username from Environment.UserName but you must then create a custom principal to load Roles from your own role store.

[2017-09-27 13:23] CrossSlide commented on #435
Ok, I'll see if I can figure it out. Thanks!

[2017-09-27 13:25] hurcane commented on #435
You can log users in automatically without making them go through a dialog. Our main project is tied to domain users, but uses a custom principal. We have a table that contains user-specific information that is keyed by the account name.

Our custom principal takes a WindowsPrincipal as a criteria for the Login method. We call that method automatically at the start of the application. Within the m

[2017-09-27 13:31] CrossSlide commented on #435
Thanks hurcane! I think I see what you mean. I'm just trying to get over the initial learning hump. ;-)

[2017-09-27 15:48] Chicagoan2016 commented on #435
@hurcane ,
that's interesting solution, I would like to see some sample code if possible.
Thanks

[2017-09-28 17:08] CrossSlide commented on #435
@Chicagoan2016,
What I'm doing is having my application get the  WindowsIdentity.GetCurrent(false).Name on startup. Then I use Custom Authentication as described by passing the Name but not a Password.

[2017-09-28 17:18] Chicagoan2016 commented on #435
Thanks @CrossSlide , I wonder if we could accomplish the same in a web application.

[2017-09-28 17:20] CrossSlide commented on #435
@Chicagoan2016, not sure on that one.

[2017-09-28 18:48] fujiiface commented on #435
@Chicagoan2016  I haven't done Windows authentication with a web application but I have done ADFS and from what I recall, I did not have to use a custom identity.  I did have to work with our Active Directory team to configure the security token service (sts) and get the right claims coming back from AD.  My use case was very limited though so it did not have to get complex.  I just didn't want to

[2017-09-29 07:08] jonnybee commented on #435
WebApplications and custom roles is a different "beast".

In ASP.NET Identity you can as an alternative override IdentityUser.GenerateUserIdentity and load roles from a custom Role store (f.ex database and merge into to Roles from ASp.ENT Identity store).

You can also sign in user without demanding a password in ASP.NET Identiity but you need a reliable source for username.

[2017-09-29 13:01] rodneyworkman291 opened #436 "What to look for when PropertyRules don't invoke on input property change?"
When my PropertyRule "CalcDeliveryAddress" executes it writes a new addressId.  Unit test proves to me that the addressId is updated after the "CalcDeliveryAddress" executes.  The addressId property is also one of the input properties that are defined in my rule "LoadTaxRules".  However the LoadTaxRules rule is not invoked after the addressId is updated.  As a plan "B" I chained the LoadTaxRules t

[2017-09-29 14:35] rodneyworkman291 commented on #436
In the execute of my CalcDeliveryAddress rule I changed how I update the addressId.  I was using context.AddOutValue() but now I am setting directly using the context.Target.  This fixed my issue as the rules are invoked when expect them to.

Just a little confused as to how the first rule CustomerChanged() seemed to let the other two rules execute like a chain, but the second rule CalcDeliveryAdd

[2017-09-29 14:35] #436 closed

[2017-09-29 16:17] rodneyworkman291 commented on #436
To answer my own question, my assumption that 3 rules seem to be chained was a false assumption.  All 3 rules fired in the one scenario because they all have a common input parameter, customerId.  The input value I was changing for my second rule was not also in the third rule so that's why the third rule would not fire it did not fire till after I directly set its value with context.Target.

This

[2017-09-29 20:11] ajj7060 opened #437 "BusinessRule with async/await"
I recently discovered that a few years ago now the Dataportal now works properly with async/await, in that you can do `private async Task DataPortal_Fetch(int id)` and it works properly, especially when throwing an exception.

However, we're now doing `BusinessRule` and are using async/await there.  My concern is that the method we need to override, Execute, is void, so we end up doing `protected

[2017-09-29 20:17] ajj7060 opened #438 "RuleContext.Complete - possible NRE"
Just finished spending a non-trivial amount of time debugging something with our unit testing of business rules.  The issue was this code:

[code]

We *were* setting _completeHandler to `null` when building the rule context to give to the Execute method of our rule for testing.  Obviously with an async rule we call Complete, and Complete calls a null completeHandler.. thus blowing up our test in a

[2017-09-30 20:48] fujiiface commented on #437
I recently started reading up more on async/await programming and learned that try/catch doesn't really work with it well.  Here's some good quick videos about it.  https://channel9.msdn.com/Series/Three-Essential-Tips-for-Async.  Also, the recommendation is not to use void and async/await together.

[2017-10-02 12:24] ajj7060 commented on #437
Right, async void and try catch don't seem to work together (catch/finally doesn't execute).  But at the same time, you need to do async rules when using HttpProxy (which only supports async) or on Xamarin and similar platforms, where your app will be killed if they go to not responding.

Hence my question; the signature of Execute is void, but you *have* to do async in the rule in the above cases

[2017-10-02 17:45] CrossSlide opened #439 "ConnectionManager<>.GetManager"
Hi,
In the documentation examples I see the hard coded "LocalDB" used with GetManager(). Can't I pull the DB from a connection string in my App.config or am I missing something?

using (var ctx = ConnectionManager<SqlCeConnection>.GetManager("LocalDb"))

Thanks

[2017-10-03 17:55] #439 closed

[2017-10-03 17:57] CrossSlide opened #440 "Reusing Business Assemblies WPF and MVC"
Can a business assemblies be shared between WPF and MVC applications?

The Csla4-02 Objects book says “…allows you to create business classes that can be used to build Windows, Web, Silverlight and Windows Phone applications...” but then goes on to describe (.NET, Silverlight, and WP7) without ever mentioning Web assemblies again.

[2017-10-04 04:07] tfreitasleal commented on #439
Hi,
I can't find **LocalDB** on *.cs files but only on *..config files. What's sample you are referring to?

[2017-10-04 04:10] rockfordlhotka commented on #439
@CrossSlide  could be referring to the samples from the _Using CSLA 4_ books?

In that case the `GetManager` method is described in the book about data access, including a description on how it interacts with your config file.

If you are referring to the `/Samples` folder, @tfreitasleal recently did a ton of updates on them, and can probably answer any questions you might have.

[2017-10-04 11:04] CrossSlide commented on #439
Thanks guys, I think I figured it out. I used .Getmanger("MyDB") to grab my connection string and it seem to be working.

p.s. Yes I was referring to the CSLA 4 books.

[2017-10-04 16:02] jonnybee commented on #440
In theory, yes.

In practice I find that the BusinessObjects for a web application (View Model) can be quite different than for a rich client and I find the transactions in a rich client is often larger than in a web app.  Async lazy loading of child objects is often used in a rich client - whereas you will find it much easier to use sync lazy loading (or less lazy loading) in a web app.

[2017-10-04 17:03] CrossSlide commented on #440
Thanks @jonnybee!

So let’s say I have a WPF app that has a large form that is filled out and is editable, but I want to create the same form (fields) for a MVC app. I sounds like you’re saying it’s possible but in the long run will be more work that it’s worth. Just make two different BusinessObjects.

[2017-10-04 17:16] jonnybee commented on #440
I a WPF app you may have several tabs that the user can edit and then save. That may not be so easy to translate in a pure MVC app. F.ex a user could add/delete a number of rows in several child grids.

 IE: The shape of the BusinessObjects and the "size" of a Save man be different. In a web app you would want to save each object added/removed right away.

[2017-10-04 17:19] CrossSlide commented on #440
Ok, got it. Thanks again.

[2017-10-05 19:41] CrossSlide opened #441 "Property Value Conversion Code"
I have some fields that I need to change based on some status values in my business object. It’s not simple conversion but doing some conditional formatting before the field value is returned. Is this a case where I need to use Manual Backing Fields?

[2017-10-05 20:09] rockfordlhotka commented on #441
You should be able to do this in a business rule, assuming we're talking about a `string` property.

[2017-10-05 20:12] rockfordlhotka commented on #438
Where is this code?

[2017-10-05 22:39] fujiiface commented on #433
Like @Chicagoan2016 said, the eBooks are pretty good about teaching CSLA and the concepts behind it.  Book 6 in the series is all about MVC although it is a little dated now.

[2017-10-05 22:45] fujiiface commented on #441
@CrossSlide Like Rocky said, if it is a string property this should be similar to the sample ToUpper rule found in the RuleTutorial project: https://github.com/MarimerLLC/csla/tree/master/Samples/NET/cs/RuleTutorial/TransformationRules

[2017-10-06 12:11] ajj7060 commented on #438
@rockfordlhotka Its in the RuleContext class.

[2017-10-06 13:13] CrossSlide commented on #441
Got it. Thanks @fujiiface  @rockfordlhotka

[2017-10-06 13:13] #441 closed

[2017-10-09 18:29] rockfordlhotka commented on #91
I completed the work on this - adding a new `CslaClaimsPrincipal` type that should be used any time an app needs `ClaimsPrincipal` and the `MobileFormatter` (this new type simply wraps the BCL type so it works with MobileFormatter).

[2017-10-10 12:52] ajj7060 commented on #91
What version of Csla is this change going to be in?  I'll probably try and get our codebase to switch to it when its available.

[2017-10-10 14:50] rockfordlhotka commented on #91
.NET 4.6 and higher, Xamarin, UWP, and .NET Core.

[2017-10-11 04:00] rockfordlhotka opened #442 "CSLA .NET 4.7 (coming soon)"
## CSLA .NET 4.7

This version is in final testing, and I'd really appreciate your help making sure all the changes meet your needs. There's a prerelease in NuGet right now that you can use, and I'd love any feedback you can provide.

My intent is to do a final release in about 2 weeks.

Version 4.7 is a substantial release, with a number of important enhancements and new features, along with some

[2017-10-11 08:36] sylum opened #443 "Csla.Xaml.PropertyInfo & XamarinForm"
Hi Folks,

I'm trying to use the PropertyInfo control in a XamarinForm app, and I can't get the binding to work correctly.  I want to bind another control's appearance to the IsValid meta data for a BO property that the PropertyInfo control exposes.

Unfortunatly, I think I not doing it right , because when I tried the following code, i got the exception : **Method not found: 'Void Csla.Xaml.Prope

[2017-10-11 17:35] fujiiface commented on #442
@rockfordlhotka I'm curious to know what #712 looks like in a stateless environment.

It seems to me that business rules will be/are being called twice; once after the object graph is merged and another after the page completes a postback and reloads the page (at least in a WebForms environment).  Is this a fair assessment?

Also, what does this look like in MVC if we are inheriting from `Csla.Web

[2017-10-13 16:53] rockfordlhotka commented on #443
I'm running off to take care of some things, but wanted to do at least a quick answer first.

Xamarin data binding is very different from WPF/SL/WRT/UWP, in that each UI control binds to _exactly one source_. Normal XAML binding allows each property to bind to a different source, but in Xamarin the entire control (all its properties) bind to a single source.

So the `PropertyInfo` "control" for Xa

[2017-10-13 19:50] mareedum1223 commented on #433
Thank you!!I got CSLA 4 book and trying to understand the framework.

[2017-10-16 15:18] CrossSlide opened #444 "Already An Open DataReader"
I’m doing a simple read-only root and child fetch (encapsulated invocation, WPF). I’m getting “There is already an open DataReader..” error. I read others have resolved this with “MultipleActiveResultSets=true” in the connection string but this doesn’t seem right to me. Does it sound like I have my parent child relationship setup wrong or is MARS standard in the connection string?

[2017-10-16 15:36] hurcane commented on #444
Our system at work does not use MARS, but we have to be follow some strict rules for database interaction with parent/child relationships. Basically, you have to avoid instantiating a new datareader in a call tree where there could be an active datareader higher up in the call stack.

We have two general techniques for doing this:
- Load all data in a single stored procedure at the aggregate root.

[2017-10-16 15:44] CrossSlide commented on #444
Great answer @hurcane, thanks! Is MARS now the preferred method if starting from scratch today?

[2017-10-16 15:47] brinawebb commented on #444
I also believe that MARS is required if you're using the DataReader, we use it in our connection string. The only limitation that I'm aware of is something with a more advanced database mirroring feature in SQL 2015 or later.

We just started using Entity Framework and I don't think MARS is required for it. If you're starting from scratch you may want to consider EF if you cannot us MARS.

[2017-10-16 18:01] fujiiface commented on #442
I had the same issue as @JohnWigger.  Had to completely remove all CSLA nuget references and add them in order of CSLA-Core, CSLA-ASP.NET, CSLA-ASP.NET-MVC5...obviously referencing the beta

[2017-10-17 09:26] tfreitasleal opened #445 "How can the parent know a child collection has lazy loaded?"
I have a `ProjectEdit` object (EditableRoot) with a Vendors property that lazy loads a `VendorCollection` (EditableChildCollection) like this:

[code]

I want the parent `ProjectEdit` object to be notified when the child collection is loaded but the following parent methods/events don't fire on lazy load:

- `OnChildChanged`
- `Child_OnDataPortalInvokeComplete`
- `OnPropertyChanged`

The later is

[2017-10-17 10:10] jonnybee commented on #445
There is a certain difference between sync and async lazy load.

In async you must raise an OnPropertyChanged  to notify the UI of the new value.
In sync you pretty much want to return the value as if it was loaded in the parents DataPortal_Fetch.

I do agree that we should probably have a separate event for lazy loading.

[2017-10-17 12:14] CrossSlide commented on #444
Thanks @brinawebb and @hurcane. I didn't see anything in the CSLA4 docs about MARS so I was concerned I was doing something wrong but it looks like it's part of the design. Thanks again!

[2017-10-17 18:56] sylum commented on #443
Hi Rocky,

Many thanks for the explication on the PropertyInfo . That helped me understand how it's work.

But I think, I still missing something about the binding on the PropertyInfo.
Actually, when I tried to  bind the PropertyInfo object to my domain model, I got an exception.

`<csla:PropertyInfo x:Name="productLastControlDatePropertyInfo"  BindingContext="{Binding Model}" Path="LabelCode" />`

[2017-10-18 23:31] skeeler88 opened #446 "CSLA .Net for a specific project"
I thought I'd dive deep into the problem without much background. Besides I love CSLA .NET (bought all the books)!!!

I need to consume a XSD and create a UI based off of it (i.e. able to add attributes to an element, complexType, etc.), business rules would be based off of XSD (i.e. minoccur, maxoccur, choice & so forth) so the model has to be dynamic to support N amount of nested child node obje

[2017-10-19 05:28] rockfordlhotka commented on #446
Years ago, when Microsoft was working on the "M" language to create domain-specific languages (DSLs), I experimented with the idea of creating a DSL where you could describe a user scenario with this DSL, and when you compiled the DSL code you'd end up with a complete WPF solution that included a UI, CSLA business layer, and at least a template DAL.

That was fun, but of course Microsoft dropped t

[2017-10-19 09:57] tfreitasleal commented on #446
[CslaGenFork](https://github.com/CslaGenFork/CslaGenFork) consumes an XML file to generate almost everything but the business rules and the UI.

I've thought countless times about UI generation and it's not easy mainly for two reasons:
- specific view details and regeneration (we risk to end up with yet another designer)
- use what UI techniology?

CslaGenFork generates the code to support the bus

[2017-10-19 13:03] skeeler88 commented on #446
We don't need to generate code based off the XSD we just need a one time setup type of deal. Not trying to create a new approach to the framework. So the UI, DAL would be manually coded and even the BL.

I guess what I am asking is there somehow I can represent a nested children of themselves within CSLA .NET & a circular dependency (i.e. an element is nested within an element) and can maybe be sa

[2017-10-19 13:20] hurcane commented on #446
Here's how I interpret your situation from your latest description:

CSLA and .NET serialization have no problem with handling child collections that are of the same type as the parent. In my business, we work with bills of material. An assembly can contain multiple sub-assemblies, but they are all of the same type.

Circular references (child holding a reference to the parent) are allowed, but th

[2017-10-19 13:55] skeeler88 commented on #446
Thank you everyone. That answers my question.

[2017-10-19 15:34] sylum commented on #443
Hi Folks,

I'm still struggling with **Csla.Xaml.PropertyInfo** on **XamarinForm**.

So, I got the ProjectTracker solution and  added a new UWP projet  "ProjectTracker.Ui.XFUWP" which reference the XamarinForm projet "XamarinFormsUi".

In the "ProjectEdit.xaml" I have uncommented the ligne below the check the **csla:PropertyInfo** behaviour
`<csla:PropertyInfo x:Name="NameInfo" Path="Model.Name"/>

[2017-10-19 18:02] CrossSlide opened #447 "Using Criteria Object"
I'm trying to use a Criteria object to pass some params (Encapsulated Invocation). I setup my interface class with Fetch(object myCriteria). But when I reach my DataAccess layer class I can't cast the object back to myCriteria to retrieve my values.

It can't find the namespace of myCriteria. If I try to add the namespace to the DataAccess project I get a circular ref error. What am I doing wrong?

[2017-10-19 18:10] Bowman74 commented on #443
I'll sett if I can't get the Project Tracker project in working order this evening, perhaps that will help one way or the other.

[2017-10-19 18:43] sylum commented on #443
This is great, many thanks for your help.

[2017-10-19 20:33] rockfordlhotka commented on #447
I generally don't pass the criteria object into my DAL - I don't want that level of coupling. Instead I have my DAL methods accept discrete values necessary to do the work.

But you could invert that, and have the DAL reference the business library (which means the business library can't reference the DAL) - in which case you can pass the criteria into the DAL.

Either way, I typically have a _sep

[2017-10-20 02:57] Bowman74 commented on #443
I have submitted a pull request to your project tracker repository that fixes the property info in your example.

Let me know if you have any problems.

[2017-10-20 10:20] CrossSlide commented on #447
Thank Rocky!

[2017-10-20 12:43] Bowman74 commented on #443
@sylum let me know if that resolved your question. Happy to help if you have more problems. Thanks.

[2017-10-20 12:45] sylum commented on #443
Hi Kevin

Many thanks for your submitted.

But even with you code (we tried it on 3 differents PC) we still get the Exception  '_System.MissingMethodException_' raised by the method **InitializeComponent()** from **ProjectEdit**

![devenv_2017-10-20_12-47-18](https://user-images.githubusercontent.com/15035848/31821214-a5c8120a-b5a4-11e7-82c2-704cbdd5430b.png)

I'm lost cause, I sure your code is r

[2017-10-20 12:51] Bowman74 commented on #443
OK, I got it working for iOS and Android. I didn't really look at the UWP app. If that's where your problem lays I'll take a look there too.

thanks,

Kevin

[2017-10-20 12:54] sylum commented on #443
You right, the issue come from UWP apps. It would be great to have your feed back on it.

Thanks,

Cedric

[2017-10-23 11:30] sylum commented on #443
Hi Kevin,
I have test the **Csla.Xaml.PropertyInfo** under **XamarinForm Android** projet and works well.
So I think there may be an issue when running on the **XamarinForm UWP**.
Have you tried it on **XamarinForm UWP** ?
Thanks,
Cedric

[2017-10-23 14:08] Bowman74 commented on #443
@sylum I got it. Yes, I think you have found a bug after looking through the sourcecode.

@rockfordlhotka Here's the deal on what I think is going on here. As you pointed out earlier in this thread, the UWP binding and Xamarin Forms binding are very different. The problem is Xamarin Forms works on UWP. So when @sylum gets the nuget package for his UWP project he's getting the one compiled for UWP

[2017-10-23 14:13] toddhughes1 opened #448 "Upgrade CSLA-Core from 4.6.500 to 4.6.603 can't find Transactional attribute"
I'm trying to update my CSLA-Core nuget package from 4.6.500 to 4.6.603, but now I can't seem to find the TransactionalAttribute. (I must add that I'm trying to convert a project to a new .NETStandard project.)

I'm sure it's something simple. Did I miss a note or post somewhere? Did it move, or is it now obsolete?

[2017-10-23 16:59] sylum commented on #443
Hi Kevin,

Brilliant, your solution of using the **Csla.Xaml.dll** from **Xamarin.iOS** works nicely.
As temporary workaround, I have made a batch process to copie the dll file into the bin folder after compilation.

Many thanks to you for your help.

Cedric

[2017-10-23 17:02] rockfordlhotka commented on #443
@Bowman74 I suspect I'll need to change the control name or namespace. NuGet doesn't (to my knowledge) have any way of differentiating based on the tech you are using, only based on the platform your project targets.

So I'll need to figure out a way to get both implementations of "PropertyInfo" into all the Csla.Xaml assemblies - which means a different name or namespace.

I suspect a different n

[2017-10-23 19:27] Bowman74 commented on #443
@rockfordlhotka Yes, either two nuget packages with different namespaces or two different classes in two namespaces in the same package. I don't know Csla.Forms.Xaml or something. Breaking change no matter how you go.

[2017-10-24 02:35] Bowman74 commented on #443
@sylum My pleasure.

[2017-10-24 10:26] Apskaita5 opened #449 "Example how to host httpproxy within asp.net core"
Is there an example how to host httpproxy within asp.net core?

[2017-10-24 20:38] AppGrate opened #450 "Redis and CSLA"
Hi

To use redis cache I tried using Newtonsoft Json to serialize/deserialize CSLA object, which didn't worked.
I tried searching the internet however I wasn't able to find any solution. Can someone please shed some light on which direction I should proceed. Reason for moving cache to redis is performance.

Regards,
AppGrate

[2017-10-24 21:49] jonnybee commented on #450
Use one of the builtin Csla provided serializer/deserializer. These are located in the Csla.Serialization.Mobile namespace. Newtonsoft.Json will not work with Csla objects.

[2017-10-25 15:42] AppGrate commented on #450
Thanks for the quick response.
I tried Csla.Serialization.Mobile.CslaXmlWriter with Csla.Serialization.Mobile.MobileFormatter.SerializeToDTO however both CslaXmlWriter and CslaXmlReader are using XmlReader.Create stream overload.
In order to get the string value which I can pass to redis I have to use MemoryStream -> StreamReader/Writer to get a string out of it.
I was wondering it would have been

[2017-10-25 20:06] toddhughes1 commented on #448
It's because the TransactionalAttribute isn't compiled into .NET Standard/Core. I had to examine the code base to figure this out.

[2017-10-25 20:06] #448 closed

[2017-10-25 20:29] rockfordlhotka commented on #448
Ahh yes, that attribute is used to bring COM+ into play, and COM+ isn't supported in netstandard or .NET Core, only in full .NET.

[2017-10-25 20:34] rockfordlhotka commented on #449
Should be no different from hosting in ASP.NET MVC 4. There's an `HttpPortalController` class you use to create a controller, and that controller becomes your endpoint.

[code]

[2017-10-26 14:09] toddhughes1 commented on #448
Is there somewhere on the forum that has a graph/checklist of which features are included/compiled in which build--that is, netstandard, .NET Core, and full .NET?

I just had another instance of trying to convert an old project, only to find out that some types weren't in .NET Core. I think this would be very helpful for those assessing whether or not a project type conversion would be possible.

[2017-10-27 17:19] ck-g commented on #447
Yes, Fetch takes only zero or one parameter. If you need more than one param you could define a criteria class in your bo. The criteria class is a container for two or more primitive values (see p. 99 in the overview ebook).

For a sample have a look at p. 98 in the data portal ebook or at the DataPortal_Fetch(UsernameCriteria criteria) method in the PTIdentity class of the ProjectTracker sample:

[2017-10-27 18:42] CrossSlide commented on #447
Got it! Thanks @ck-g

[2017-10-27 18:47] CrossSlide opened #451 "Inheriting a Parent"
My OOP knowledge is a little weak. I have a Parent read-only object that has several child objects I’ll call it MyBaseObj. I want to create a new class (MyNewObj) that inherits MyBaseObj. I need to be able to bind to most of the MyBaseObj’s properties but MyNewObj needs to combine, transform, or hide other properties.

What’s the best way to go about this?

It’s a WPF application, thanks!

[2017-10-31 11:31] Apskaita5 commented on #449
Tried to use the same controller.
Installed nuget package CSLA-ASPNETCORE-MVC
Got errors:
Error	CS0506	'DataPortalController.PostAsync(string)': cannot override inherited member 'HttpPortalController.PostAsync(string)' because it is not marked virtual, abstract, or override.

Error	CS0029	Cannot implicitly convert type 'void' to 'System.Net.Http.HttpResponseMessage'	Apskaita5.Core.WebApplication

[2017-10-31 21:18] Chicagoan2016 opened #452 "Readonly collection and asp.net dropdownlist"
Hi All,
conk me on the head but I can't seem to get asp.net dropdownlist working with Readonly collection list : )
it was working fine with NameValueList.
Regards

[2017-10-31 21:22] Chicagoan2016 commented on #451
@CrossSlide ,
did you get a chance to download Visual Studio item templates for CSLA?
I would use ReadonlyList template for my parent object and 'ReadonlyChild' for child objects.

[2017-10-31 23:05] Chicagoan2016 commented on #452
Hit my head against the keyboard a couple of times and everything is fine : )

[2017-10-31 23:05] #452 closed

[2017-11-01 00:18] rockfordlhotka commented on #452
(LOL)!

[2017-11-01 07:02] jonnybee commented on #451
The easiest way to do achive inheritance is to create a generic base class with the common properties, f.ex: MyBase<T> with an interface definition for the common properties/methods. This will make it easier to create MyObj1 and MyObj2 types that inherit from the base class.

You cannot "hide" properties/methods from the parent object (altho' you can use the new keyword to provide another implemen

[2017-11-01 14:06] CrossSlide commented on #451
Thanks @Chicagoan2016, @jonnybee. I'm thinking instead of a new class I may be better off handling my needs in a separate View, ViewModels.

[2017-11-01 14:38] toddhughes1 opened #453 "Handling SqlClient transactions in Core."
I'm converting a project into .NET Core, and I need suggestions on how to handle Transactions. As per this discussion ( #448), the TransactionalAttribute is not supported in .NET core due to COM+ stuff. I don't need to handle COM+, but I do need to handle parent/child relationships.

Here's my standard pattern for updates:

[code]

What would be the easiest way to accomplish this? I assume that I

[2017-11-01 14:48] Chicagoan2016 commented on #451
@CrossSlide , if you end up using one of the MVVM frameworks like MvvmLight , Prism etc. please share your experience with us.

Regards

[2017-11-02 09:10] iherwald commented on #442
Please consider fixing the AmbiguousMatchException in FactoryDataPortal when multiple (Factory)DataPortal methods with the same name (but different signatures) exist in the same class.
(https://github.com/MarimerLLC/csla/issues/790)

[2017-11-02 10:11] jonnybee commented on #453
You should make sure to use the same SqlConnection in all child commands and then they will automatically be part of the same transaction. The transaction handling should be controlled by the "root" object.

[2017-11-03 14:31] toddhughes1 commented on #453
That makes sense. However, I'm just trying to figure out where is best to put the SqlTransaction (begin, commit, and rollback) in the DalManager & DAL pipeline--especially with the the CSLA ConnectionManager and RefCounts, etc.

[2017-11-03 14:40] rockfordlhotka commented on #453
The _Using CSLA 4_ book on data access covers this pretty well I think.

The "loss" of the `Transactional` attribute shouldn't affect many people, because its purpose was to allow you to bring in COM+ transactional support, and that had such a major performance impact that I suspect (hope) people only used it if they really needed it (i.e. they had transactions literally spanning 2+ database serve

[2017-11-03 15:14] jonnybee commented on #453
You could also use the Transactional attribute to have all updates with one transaction - essentially wrap the root DataPortal_XYZ method with a TransactionScope. I hope that would be a more common scenario than to use it for COM+ Distributed Transactions.

[2017-11-03 15:49] rockfordlhotka commented on #453
Oh yeah, I forgot about that scenario!!

Does anyone know if `TransactionScope` is in netstandard 2.0? If so, I'll need to bring the `Transactional` attribute back into play, but without the COM+ parts.

[2017-11-03 15:54] fujiiface commented on #453
Just a brief search since I'm tight on time this morning.  https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-2.0&term=TransactionScope

[2017-11-03 16:02] tfreitasleal commented on #453
I feel a bit confused.

Since there is no COM+ on .NET Core, this platform doesn't support any kind of transactions? Or does it support all kinds of transactions except for Distributed transactions?

[2017-11-03 16:05] hurcane commented on #453
The sample on the documentation page includes multiple database connections, which would be promoted to a distributed transaction.

[2017-11-03 16:19] ajj7060 commented on #442
Some very cool enhancements coming!  Glad to see Profile259 is now supported too.

[2017-11-03 16:27] ajj7060 opened #454 "DynamicBindingListBase and async rules"
I think we're hitting an issue with DynamicBindingListBase.  The root objects contained within the list have some async rules, but it looks like the Save method is being called while the object is still busy.

Any suggestions on how to properly handle this?

[2017-11-03 16:28] rockfordlhotka commented on #442
The primary hold-up right now is that I'm trying to work through how NuGet manages packages with netstandard and platforms like iOS/Android/UWP.

I'm not pleased with how it works with the current NuGet beta package, mostly because it actually _doesn't_ work without a workaround...

There are some other things I'm hoping to fix too - such as @iherwald's comment - but those might come as point rele

[2017-11-03 16:50] toddhughes1 commented on #453
I'm OK with using the existing `TransactionManager`, over the `ConnectionManager`, when needed. I just wasn't aware of it.

Since the DalManager creates an instance of `ConnectionManager` on instantiation, I created `IDalTransactionManager`--similar to the original `IDalManager`, but with a `Commit` method that will ultimately calls the `TransactionManager` `Commit` method.

Then, in my DAL...

[c

[2017-11-03 16:58] CrossSlide opened #455 "DevExpress MVVM Conflict"
I’m trying to use DevExpress MVVM framework for my WPF application. As suggested in the CSLA4 book, I’ve created a ViewModel class derived from the ViewModelBase. It’s a copy straight from the book but I have commented out the Bxf.Shell code.

So, I add the ViewModel to the class “public class MyDXViewModel : ViewModel<MyCSLAobj>” and compile, start the app and I get this error.

ViewModelSourceEx

[2017-11-04 03:32] tfreitasleal commented on #455
Hi,

I had to solve this kind of problem when creating a **Csla.Xaml** adapter for Caliburn.Micro MVVM framework. You can find the final result at [CslaContrib](https://github.com/MarimerLLC/cslacontrib/tree/master/trunk/Source/CslaContrib.Caliburn.Micro.WPF.Net45). I won't tell you how I solved it, because I typed a lot of unnecessary code.

Developing the MvvmFx framework (WinForms) I found a mu

[2017-11-05 11:06] tfreitasleal commented on #453
@rockfordlhotka Is `TransactionalAttribute` coming back for `NETSTANDARD2_0`? Will this feature be on 4.7.100?

[2017-11-06 18:23] CrossSlide commented on #455
Wow @tfreitasleal thanks for the in-depth answer! This seems like a huge undertaking that may well be outside of my skill set (new to C#).

DevExpress offers two ways to implement ViewModels. One with their ViewModelBase and one they call POCO View Model. The POCO seemed to be the easiest and that’s the one I’ve been trying to implement. When I told them about the RaisePropertyChanged error (see a

[2017-11-07 14:51] ajj7060 commented on #454
@rockfordlhotka @jonnybee Any thoughts on this?

[2017-11-07 15:18] rgsoft opened #456 "Help with CSLA-Core"
I am re-writing a Silverlight application using ASP.net Core (Knockout, SQL backend).

I am having a problem trying to get CSLA to work.  Using VS2017 template Class Library (.net Core) I added CSLA-Core via Nuget (see images) but this causes SafeDataReader not to be recognised (see images)

What is the correct way/steps to add/set up CSLA-Core to be used in a ASP.net core app.?

All help very wel

[2017-11-08 00:15] JohnWigger commented on #453
@tfreitasleal, @rockfordlhotka  Currently the beta CSLA-ASPNETCORE-MVC version 4.7.100 beta 17100905, doesn't include support for TransactionalAttribute.  I took a look at the CSLA codebase I see one wrinkle that applies to configuration file information.   The code in this area for ApplicationContext checks for values
ConfigurationManager.AppSettings["CslaDefaultTransactionIsolationLevel"]
and
Co

[2017-11-08 00:22] JohnWigger commented on #456
@rgsoft ,  You chose a .NET Core class library.  If you instead choose a .NET Standard 2 class library as a template you will have access to SafeDataReader and most of the other things that you expect.

[2017-11-08 11:41] jonnybee commented on #454
My best suggestion is to use sync rules. When the user selects another item in the list this will automatically trigger save and is would make a "sluggish" response if the UI must wait for async rules to complete before calling Save.

Yes, that may provide a sluggish UI when the now sync rules run - but from a functional view this is more "correct" behaviour.

[2017-11-08 15:35] rockfordlhotka commented on #454
Thank you @jonnybee, I agree.

@ajj7060 what do you think should be the experience for the user?

[2017-11-08 19:52] ajj7060 commented on #454
The rule is async b/c it does a remote data portal call, and I believe has to be async to work in Xamarin.  The UI will be sluggish anyway due to a sync Save call blocking the UI thread (as happens today in our WinForms app).

In our grids we cause the grid to commit changes not on row lost focus but cell lost focus.  To date we've only had this behavior in our WinForms app, but we need the same b

[2017-11-08 20:14] rockfordlhotka commented on #454
Yes, but it isn't clear what the alternative would be. Remember that DBLB is designed to interact with the UI _only via established data binding interfaces_, and those interfaces pre-date async _anything_. So there's no established interaction pattern for anything but sync behaviors.

[2017-11-08 20:20] rockfordlhotka commented on #454
What grid control are you using in Xamarin?

[2017-11-09 10:05] rgsoft commented on #456
Thanks....I gave that a try...still same issue

1) .NET Standard 2 class library
2) Nuget CSLA-Core
3) Nuget Install-Package System.Data.SqlClient -Version 4.4.0

![3](https://user-images.githubusercontent.com/13234412/32599701-38a7c774-c535-11e7-8fe6-e6ac7ec0b3ef.png)

[2017-11-09 10:05] #456 closed

[2017-11-09 13:38] ajj7060 commented on #454
We haven't started the Xamarin interface for this particular BO yet, that will be coming in the next phase after we finish the functionality in the WinForms app.  I think we're looking at the grid DevExpress offers for Xamarin.  We found this issue while using the BO in WinForms.

I would think the correct behavior would be to wait until the BO is no longer busy before trying to save.  This has th

[2017-11-09 15:43] JohnWigger commented on #449
@Apskaita5, this is the correct package but the wrong version, since it appears you are using ASP.NET Core 2l  Using the current baseline of 4.6.603, you will get this error.  For the time being, you need to retrieve the prerelease beta version of this package, 4.7.100-beta17100905.

[2017-11-09 15:58] JohnWigger commented on #456
In case anyone else identifies this as a problem, using the current baseline of 4.6.603, you will get this error. For the time being, you need to retrieve the prerelease beta version of this package, 4.7.100-beta17100905.

[2017-11-09 16:58] Apskaita5 commented on #449
I checked the source code of HttpPortalController and found out that the code in the project tracker example override matches the code of the procedure overridden.  I believe the DataPortalController  source code in the project tracker example (csla/Samples/ProjectTracker/ProjectTracker.AppServerHost/Controllers/DataPortalController.cs) is obsolete, no more overrides are required.

[2017-11-10 13:53] CrossSlide commented on #455
Ok, here is a fix for DevExpress/CSLA MVVM. It seems to be working so far.

`[POCOViewModel]
public class MyDevExpressViewModel : MyViewModel<MyCSLAObj>
{
	// FIX: CSLA ViewModelBase inherits DependencyObject where ClearValue methods conflict with the DevExpress POCO transformation process
	public static void BuildMetadata(MetadataBuilder<WorkOrderVM> builder)
	{
		builder.CommandFromMethod(x => x

[2017-11-10 13:55] CrossSlide commented on #455
Ok, here is a fix for DevExpress/CSLA MVVM ViewModelBase conflict.

[POCOViewModel]
public class MyDevExpressViewModel : MyViewModel<MyCSLAObj>
{
	// FIX: CSLA ViewModelBase inherits DependencyObject where ClearValue methods conflict with the DevExpress POCO transformation process
	public static void BuildMetadata(MetadataBuilder<WorkOrderVM> builder)
	{
		builder.CommandFromMethod(x => x.ClearVal

[2017-11-10 14:03] CrossSlide commented on #455
Ok, here is a fix for DevExpress/CSLA MVVM ViewModelBase conflict. It seem to be working fine.

[code]

[2017-11-10 20:44] JohnWigger commented on #422
@rockfordlhotka,  I tried out the CslaClaimsIdentity serialization support in the beta and it worked well.  However,  I also tried to write code that did this: Csla.ApplicationContext.User = new Csla.Security.UnauthenticatedPrincipal();
Unfortunately, I get the exception in the below code in ApplicationContextManager.cs.

System.InvalidCastException: 'Unable to cast object of type 'Csla.Security.U

[2017-11-13 14:34] wasiuddin7 opened #457 "Csla.ApplicationContext n’t work correctly in asp.net core 2.0"
User / IPrinciple. when running under ASP.NET Core, Csla.ApplicationContext doesn’t work correctly ,after setting the identity i am getting the null value,
i am sending parent and child property from aspnet core using type script getting serialization error

List item must be marked as a child object
PopulateList(IList list, JsonReader reader, JsonArrayContract contract, JsonProperty containerProp

[2017-11-13 17:15] rgsoft opened #458 "Connection Manager issue - asp.net Core"
Hi
I'm getting this error with connection manager - don't normally have to add the IsDatabaseName to false as well.

If I replace the connection string name (AbracaSch) with the full connection string it works ok.

Advice?  Thanks.

Does it work differntly in .net Core?

![5](https://user-images.githubusercontent.com/13234412/32738726-b7e9f5bc-c895-11e7-91fe-4076f6b8b6cd.png)

[2017-11-13 20:37] ajj7060 opened #459 "DynamicBindingList and error on remove"
I have a DynamicBindingList class, with my collection of root objects.  I'm using the DX GridView for WinForms, if that matters.  The issue I'm having is that if the Save of the BO fails (due to say a SQL constraint), the exception doesn't seem to be handled by anything, and my app's UnhandledException handler fires.

I'm trying to emulate the behavior in SSMS where you can try to delete a row, bu

[2017-11-14 00:23] JohnWigger commented on #458
Currently, CSLA doesn't read any config file entries for .NET Core.  You are using it correctly by providing the full connection string.  If you want to see some of the dialogue on this topic,  see   https://github.com/MarimerLLC/csla/issues/525.

[2017-11-14 00:36] JohnWigger commented on #457
Are you using the beta for 4.7.1 or a different version?  For ASP.NET Core, Claims-based Identity is used, ClaimsPrincipal has replaced IPrincipal.  Additionally, note that ClaimsPrincipal is NOT serializable but CslaClaimsPrincipal is serializable. CslaClaimsPrincipal has a constructor that accepts a ClaimsIdentity object.

[2017-11-14 08:58] wasiuddin7 commented on #457
i am using  beta for 4.7.1  still after setting the identity value at time of login
 Name = user.Name;
 Roles = null;
 IsAuthenticated = true;
then i am checking with other class user getting null  Csla.ApplicationContext.User.Identity

[2017-11-14 09:06] wasiuddin7 commented on #457
in same way i have class with child property
example
employee
{

addressList<adress> address;

}
adding any value to child property from typescript  but when i am passing this as parameter using web api
 public async Task<DataPortalResult> UpdateAsync(Type type, CallObject obj)
        {

            var portal = new DataPortal();
            var ctx = new DataPortalContext();
            var clas

[2017-11-14 14:08] rockfordlhotka commented on #457
You say you are serializing it into TypeScript - so you are using something like the JsonSerializer?

That is not supported by CSLA types, or by native Microsoft principal/identity types either. You'll need to pull the values out of the object(s) and create your own JSON message for the browser.

[2017-11-14 14:28] ajj7060 opened #460 "DynamicBindingListBase and server errors"
I'm having some issues understanding how to handle errors when a server call fails, which leaves the grid in an invalid state.  This is my scenario:

User edits a row, typing a new name "Name 1" for example.  Names must be unique and enforced by a constraint.
I do have a rule which checks other items in the collection to ensure the name is not already in use.
Someone else modifies the another row,

[2017-11-14 14:50] wasiuddin7 commented on #457
- its working fine getting list from csla server side  to client
- its working sending from client side to csla server side but only class which does not have the child property

**if any class having child property in that case its throwing the exception**
List item must be marked as a child object
PopulateList(IList list, JsonReader reader, JsonArrayContract contract, JsonProperty containerPrope

[2017-11-14 16:29] fujiiface commented on #460
I'll take a stab at this and ask a dumb question but are you checking `IsValid` first?  I haven't used DBLB before so I'm not sure how this applies but I always check `IsValid` before trying to save an object.  If the object is not valid then I display broken validation rules to the user.  If it works how I think it does then you could put the row back into edit state and tell the user to enter a

[2017-11-14 16:44] rockfordlhotka commented on #460
The problem is that everything drives off the `IEditableObject` and `IDataErrorInfo` data binding interfaces, which date back to 2001 and have never changed. So they have no concept of async anything.

The assumption is that if there's a validation error on the row (object), that'll be available _synchronously_ and that the WinForms datagrid control will display that error to the user via `IDataEr

[2017-11-14 16:59] tfreitasleal commented on #460
I think @rockfordlhotka touched a very important point. Windows Forms wasn't made dor async so maybe it's better to use sync with Windows Forms.

[2017-11-14 17:06] ajj7060 commented on #459
After some investigating, the stock DataGridView also doesn't handle this; no events or anything, just an unhandled exception.  I'm sure I can't be the first person using DBLB with immediate deletions, so how are we supposed to handle these kinds of errors?

[2017-11-14 17:30] ajj7060 commented on #460
@fujiiface The object is valid, because there's no rule that rechecks the DB; it only checks against the in-memory list.  The issue is that another user (User B) made a change between when User A first loaded the screen and then tries to make the change.  Even if I had a rule, it wouldn't full protect against this, because the user might not leave the row right away, and User B can still make the

[2017-11-15 04:22] wasiuddin7 opened #461 "usign aspnet core with angular4 sending from cliet to csla server side if any class having child property in that case its throwing the exception"
its working fine getting list from csla server side to client
its working sending from client side to csla server side but only class which does not have the child property
if any class having child property in that case its throwing the exception
List item must be marked as a child object
PopulateList(IList list, JsonReader reader, JsonArrayContract contract, JsonProperty containerProperty, Strin

[2017-11-17 00:19] Chicagoan2016 opened #462 "Address Verfication and Email"
Hi All,
I have two non-csla objects, one object is used for Melissa Data address verification and the other one is used to send emais based on an html template.
I want to convert  these two non-csla objects to CSLA objects ( don't like non-clsa code : ) ).
My questions are the following
1) should both these classes inherit from CommandBase?
2) I want to put these classes in Business layer of my ap

[2017-11-17 05:49] jonnybee commented on #462
Yes to both.

[2017-11-17 18:50] Chicagoan2016 commented on #462
thanks @jonnybee ,
I also have a couple of properties in non-csla email object  that holds a list of recipients of the email and a property that holds the list of attachments in a given email, both of these properties are just place holders and they defined something as
 public List<EmailAttachment> MyEmailAttachments { get; set; }

Could I possibly replace with something 'csla' compliant?
Regards

[2017-11-17 19:01] jonnybee commented on #462
So long they are CSLA based lists (support MobileFofmatter) then you can have these as properties on a CSLA command object.

[2017-11-17 19:03] Chicagoan2016 commented on #462
Could you please write me a sample property or point me to an example?
Kind regards

[2017-11-18 11:27] jonnybee commented on #462
You can use ReadOnlyListBase/BusinessListBase derviced lists as a property on a CommandObject.

[2017-11-20 14:19] Chicagoan2016 commented on #462
Thanks @jonnybee , a couple more questions
1) How to implement a property like
  public List<string> Body { get; set; } in CSLA?
2) in the email class should the 'email send' method on smtp object be called in BeforeServer() method or Dataport_Execute method?

Regards

[2017-11-20 14:39] jonnybee commented on #462
1. Create a managed property similar to a ReadOnlyBase/BusinessBase managed property in the CommandObject.

[code]

2. In the DataPortal_Execute method.

[2017-11-20 16:05] Chicagoan2016 commented on #462
thanks @jonnybee ,
the property I wanted to implement is currently implementd as
public List<string> Body { get; set; }
as you can see the property is a 'List' of strings.
I was wondering if we could possibly implement something like this in CSLA?

[2017-11-20 19:46] rockfordlhotka commented on #462
There's a `MobileList` type that is a `List<T>` that is serializable.

https://github.com/MarimerLLC/csla/blob/master/Source/Csla.Shared/Core/MobileList.cs

[2017-11-20 19:47] rockfordlhotka commented on #461
This FAQ page might help: https://github.com/MarimerLLC/csla/wiki/JSON-Services

[2017-11-20 22:19] Chicagoan2016 commented on #462
Thank you @rockfordlhotka ,
so I should declare my property as follows?
 public static readonly PropertyInfo<MobileList<string>> BodyProperty = RegisterProperty<MobileList<string>>(c => c.Body);
        public MobileList<string> Body
        {
            get { return ReadProperty(BodyProperty); }
            set
            {
                LoadProperty(BodyProperty, value);
                OnPr

[2017-11-20 22:24] Chicagoan2016 opened #463 "CSLA objects and exceptions"
While writing code that is calling business objects I usually catch exception like 'DatanotFoundException' or 'UpdateFailureException'.
just wondering what other exceptions are folks here implementing/throwing in CSLA objects?

by the way I am old school, still using Enterprise Library exception handling block, I know I need to visit all thirteen states one of these days!

kind regards

[2017-11-21 01:39] fujiiface commented on #463
I'm going to oversimplify this but on Save events I usually capture `DataPortalException`s first and default to a generic `Exception`.  If I want to log the exception for those, I send them to Raygun.  Otherwise I just pump an error message out to the user.

[2017-11-21 02:15] fujiiface opened #464 "Csla Required rule and DateTime"
Hi all,

I am writing a custom gateway rule named `HasValue` that checks if a property has a value.  While writing my unit tests I noticed that if I try to require a `System.DateTime` data type my fake object `IsValid` is always `true`.

I debugged the test and found that CSLA's `Required` business rule counts the default `1/1/0001` as a value that has been provided and marks the object as valid e

[2017-11-22 00:52] MarceloJGaray opened #465 "ConnectionManager issue (Xamarin.Forms + .Net Standard 2 + SQLite)"
Hi All,
I'm testing CSLA 4.7.1 Beta on a Xamarin Forms app using SQlite and I'd like to use the ConnectionManager like this:
**Private cm As ConnectionManager(Of SQLiteConnection) = Nothing**

But I get some compiling errors:
**Type argument 'SQLiteConnection' must have a public parameterless instance constructor to satisfy the 'New' constraint for type parameter 'C'.
Type argument 'SQLiteConnecti

[2017-11-22 16:50] CrossSlide opened #466 "Initializing New Editable Root List"
WPF, Encapsulated Invocation, Editable Root List

When I Create a new List I want a specific set of child objects to be loaded. It would be just like a Fetch operation (parent passing DataReader to children) except the children would be marked as new. Is there a way to do this?

Thanks

[2017-11-22 17:46] jonnybee commented on #466
Yes, you can implement this in DataPortal_Create method and maybe pass a list of DTO/Poco objects for initialization of child objects to the child list Create method.

[2017-11-22 18:43] CrossSlide commented on #466
Thanks @jonnybee. I'm not sure what you mean by passing objects to initialize. I want to retrieve the initialization data and create the children at the same time.

Below is the pattern I'd like to use but it's not working. Is there a flaw in my thinking on CSLA? It's just like the Fetch process.

`//In MyList
	public static MyList NewMyList(int Id)
        {
            return DataPortal.Create<M

[2017-11-22 18:49] rockfordlhotka commented on #466
If I understand correctly you want to "fetch" a list of new objects. That really means you want to "create" a set of new objects that come pre-initialized with data.

This is the whole point of the DP_Create methods and functionality. So @jonnybee is right - you shouldn't "fetch" the list, you should "create" the list - and the criteria you pass to the `DataPortal.CreateAsync` method should be wha

[2017-11-22 19:00] CrossSlide commented on #466
Thanks @rockfordlhotka .

So if I understand you, then my DataPortal_Create (code above) can’t have the dalManager.GetProvider… and retrieve the initialization data I need. I would have to get the initialization data first then pass it to the DataPortal_Create. Correct?

[2017-11-22 21:42] GillesBer commented on #466
@CrossSlide  I'm personally retrieving default values in the DataPortal_Create.
There is nothing that prevent to move your DataPortal_Fetch into your DataPortal_Create imho.

There are two points to take into consideration:
- if you need this code to run on the server/query the DB, you should not decorate your DataPortal_Create with the [RunLocal] attribute.
- having a round-trip to the server wil

[2017-11-22 21:48] rockfordlhotka commented on #466
Right. The only difference between DP_Fetch and DP_Create is how the metastate is set by the data portal.

DP_Create IsNew==true, IsDirty==true
DP_Fetch IsNew==false, IsDirty==false

Otherwise they work the same.

[2017-11-23 06:46] wasiuddin7 opened #467 "Csla.ApplicationContext not working correctly - as CSLA local context and identity"
after configure an all the setting of context but its not working
---ConfigureServices
services.ConfigureCsla((options, sp) =>
            {
                options.ObjectFactoryLoader = new ServiceProviderObjectFactoryLoader(sp);
                // could configure other CSLA hooks / options here in future.
            });

----Configure
           app.UseCsla();
           // app.UseIdentity();

[2017-11-23 13:57] sashkr opened #468 "Cancel FetchAsync."
Is there any way to cancel FetchAsync operation?
Task class has support of CancellationTokenSource. But CSLA seems has no support of it.
I would like to get the user ability to cancel operation.

[2017-11-23 15:54] sashkr commented on #468
I've just made draft implementation. Let me know what do you think about it.
My idea is very simple. We need to pass CancellationTokenSource through criteria.
Example:

[code]

And then we need to use it in DataPortal_Fetch method of BussinessBase object:

[code]

That's all. Now on client side we need just call Cancel mathod of criteria CancellationTokenSource.

How was it achieved?
First, I decl

[2017-11-24 08:51] jonnybee commented on #468
CSLA is designed to support N-Tier and I believe your implementation will only work with the Local dataportal. Objects to be serialized to another machine/server must be serializable by both binary serializers and the CSLA builtin serializers. Not all platforms provide a binary serializer.

IE: If your app is configured to use a remote dataportal you should also be able to cancel Http request in t

[2017-11-24 09:46] sashkr commented on #468
Oops! I forgot to show one more class. That is where magic does happen.

Yes. You are right. But in my implementation CancellationTokenSource on server and local side are different objects (because of serialization).
On client side CancelationToken register action which will send command to server with CancelationId:

[code]

**CancelExecutedCslaOperation**
[code]

[2017-11-24 10:55] sashkr commented on #468
I've made a few improvements to class:

[code]

[2017-11-24 11:40] jonnybee commented on #468
Will this work in a web-farm or azure appservice where you cannot control which instance of the service the next call hits?

[2017-11-24 12:19] CrossSlide commented on #466
@jonnybee @rockfordlhotka @GillesBer  Thanks guys I've got it working!

[2017-11-24 12:49] sashkr commented on #468
I didn't think about that. Thanks.
I will think about this problem.

[2017-11-25 08:26] sashkr opened #469 "CheckPropertyRules does not call OnPropertyChanged for every affected properties."
I have simple calculated bussiness rule. It takes property "A", property "B" and sums them together for property "X". And when I change "A" CSLA calls OnPropertyChanged only for property "A" and not for "X".
I' m using WinForms so I set: ApplicationContext.PropertyChangedMode == ApplicationContext.PropertyChangedModes.Windows.

It seems like this is standart behaviour for **CheckPropertyRules** me

[2017-11-25 12:03] #469 closed

[2017-11-26 12:36] JohnWigger commented on #467
@wasiuddin7 @rockfordlhotka  Hey,  at a minimum, the code sample you show is not from the current CSLA beta code (or any other CSLA version, I think).   The CSLA ApplicationContext class loads the ApplicationContextManager as needed.  You don't need to create it.

 Also, the ApplicationContextMananger class that IS in the beta (a typo in the CSLA source, not in your code.  It should be corrected,

[2017-11-26 16:09] MarceloJGaray commented on #465
More specifically, this is the error I get when trying to use the ConnectionManager on the Android emulator: **Could not resolve type with token 01000026 (from typeref, class/assembly Csla.Data.ConnectionManager**

The forums mention clean and rebuild solves the problem, but is not the case here.

Exception:

System.TypeLoadException: Could not load type of field 'DataAccess.SQLite.DalManager:mobj

[2017-11-26 19:59] JohnWigger commented on #465
Marcelo,
   I can say that the package you would like to use,  sqlite-net-pcl, doesn't support the System.Data model, which the CSLA ConnectionManager requires.  You certainly use that provider, which seems to be lightweight and very popular with CSLA,  just without using the CSLA ConnectionManager class.
   Microsoft.Data.Sqlite supports the System.Data model and  Xamarin.  I wrote a small sample

[2017-11-27 05:09] wasiuddin7 commented on #467
using Csla.Core;
using Microsoft.AspNetCore.Http;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Security.Claims;
using System.Threading.Tasks;

namespace abc
{
    public class HttpContextAccessorContextMananger : IContextManager
    {
        private const string _localContextName = "Csla.LocalContext";
        private const string _clientContextName = "Csla.Clie

[2017-11-27 09:19] jonnybee commented on #465
Or - you can create your own version of ConnectionManager<T> that supports the chosen SQLite driver.

[2017-11-27 11:41] sashkr commented on #468
We can use something like pub/sub in Redis server.
So CancelExecutedCslaOperation command will publish a message and every app server subscribe on it. They will call Cancel method on message receiving.

It is a pity that this can not be realized as a feature in CSLA framework.

[2017-11-27 15:59] CrossSlide opened #470 "Are Client-Side Parameters Serialize?"
When I fetch MyObj I need to add some addition information from another BO before MyObj is returned.

If I pass a BO as a parameter to my client-side fetch -GetMyObj(BO)- will it be serialized and passed to the server-side even though I don’t pass it as an argument to the DataPortal.Fetch<MyObj>()?  Or is there another way to do this? Thanks

[2017-11-27 22:31] jonnybee commented on #470
The object will only be serialized to the server if it is passed on to the DataPortal.Fetch as parameter.

[2017-11-28 11:58] CrossSlide commented on #470
Thanks @jonnybee !!

[2017-11-29 12:52] CrossSlide opened #471 "LinqObservableCollection Duplicate Records"
As per chapter 2 of the book, I have the following where MyList is a BusinessListBase.

`var resultList = (from r in MyList where r.MyField == "MyValue" select r).ToSyncList(MyList)`

This returns two sets of the same records. What am I doing wrong?

Thanks

[2017-11-29 13:35] #471 closed

[2017-12-01 09:30] #468 closed

[2017-12-02 12:34] brinawebb opened #472 "Object not returned in DataPortalException"
I'm using Csla 4.7.1 beta 17100905 with .NET Standard 2.0. I've created a library project with my business objects and am testing them directly in an MsTest project. My database is SQLite.

In my library I have a customer object that has a name property. This name has a unique constraint in the database, so if you try and save it, the database bubbles up a unique constraint exception and the save

[2017-12-03 11:02] jonnybee commented on #472
The proper way to handle this is to have a business rule that checks for uniqueness whenever Name property is changed and/or before you call Save.

When a Save fails you could display the error mesage. But you should not continue using the possibly returned object. Take f.ex a Root object with new children and grandchildren. When Save fails some of the children may already be marked as "IsNew = fa

[2017-12-04 10:03] brinawebb commented on #472
Thanks Jonnybee.

First issue, there is a bug here. DataPortalReturnObjectOnException is not being read from the config file in my unit tests.

Second issue:
<whenever name is changed> This would require me to hit the database (where the names are stored) every time the property changes, adding unwanted overhead in our case.

What I did was override the Save() method.

        public virtual new C

[2017-12-04 10:12] #472 closed

[2017-12-04 14:11] rockfordlhotka commented on #472
@brinawebb would you please submit that bug as an issue in the csla repo here on GitHub?

[2017-12-04 15:41] Conway6288 opened #473 "CSLA SerializationException on BeginEdit when using LazyGetPropertyAsync"
Having a problem when using LazyGetPropertyAsync on a business object, I've put some code examples to show the basic structure of this issue. As soon as I call BeginEdit (After a fetch) I am getting the following SerializationException.

`System.Runtime.Serialization.SerializationException: 'Type 'Csla.PropertyInfo`1[[MyApp.ChildList, MyApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]'

[2017-12-04 16:15] tfreitasleal commented on #473
Hi,
I'm afraid I'm late with my promise to release a fully working LazyProperty sample.
Please have a look at [LazyProperties solution](https://github.com/tfreitasleal/CslaExtremeDemos/tree/master/LazyProperties).
It's a WinForms sample. There are databinding issues concerning cancel but otherwise is fully functional.

[2017-12-04 16:20] Conway6288 commented on #473
Thanks for the quick reply.

From your example, looks like I have to override OnDeserialized? What am I supposed to do in my override of this for the async property?

Seems like a lot of hassle...

[2017-12-04 18:16] jonnybee commented on #473
Is your propertinfo declaration static? It’s not shown in the code samples.

[2017-12-05 10:06] brinawebb commented on #472
Thanks Rocky. Was just about to submit and found that it exists. #465 Nice to know that Csla, .NET Standard, and SQLite is being used! Love that Xamarin Live was released today under VS 15.5, really a game changer.

[2017-12-05 10:48] Conway6288 commented on #473
Yes it is. Sorry, I should've been more thorough!

I've attached a sample project to demonstrate the issue. Two unit tests, one for an object which uses LazyGetProperty and one which uses LazyGetPropertyAsync.

BeginEdit on the Async test causes an exception and therefore the test fails.
[CSLASerializationException.zip](https://github.com/MarimerLLC/cslaforum/files/1530809/CSLASerializationExcepti

[2017-12-07 21:15] rockfordlhotka opened #474 "Probable breaking change to support Netstandard 2.0"
In this issue I've been working on an issue with NuGet and CSLA and Xamarin/UWP regarding netstandard 2.0

https://github.com/MarimerLLC/csla/issues/793

It is really looking like the only "fix" for this is that CSLA 4.7.100 will _require_ that your projects target netstandard 2.0 (or full .NET 4.0 or 4.5).

This means that if you are currently targeting a pre-FCU version of UWP, or an older versi

[2017-12-07 21:22] rockfordlhotka commented on #474
**To help the decision and commenting process I'm pushing a prerelease to NuGet with the change**

This should help everyone test to see the real impact of the change.

[2017-12-08 14:17] Conway6288 commented on #473
Was there any update on this?

[2017-12-08 14:22] GillesBer opened #475 "Migrating from Local to WcfProxy only a subset of my business objects"
Dear all,
I'm running and maintaining a large 2-tier application that is using CSLA 4.6.600.
We would like to migrate this application to 3-tier, but in several phases.
Is there any 'best practice' to migrate only a subset of my business objects?

Our plan was to migrate: 'one form at a time', and their business objects.

I imagine that I can also add the [RunLocal] attribute on all my legacy obje

[2017-12-09 07:29] brinawebb commented on #474
This is OK with me! The mobile dev world with Microsoft is getting more and more unified, so a forward-only migration path makes a lot of sense.

[2017-12-11 20:26] CrossSlide opened #476 "Adding Business Rules to BusinessListBase"
I have a BusinessListBase class and want to run a Business Rule when a child property changes. I think this means I have to create an editable parent to put the collection in, right? Do I have to move all my DataPortal logic to the parent? I just need the business rule to loop through the collection and change some properties of the children. Thanks

[2017-12-12 18:12] tfreitasleal opened #477 "DataPortal_Create and check rules"
Hi
I have an object with plenty od business rules like required, etc.
I was expecting the required fields to show the error mark as soon as the object is shown.
It turns out those rules are checked only after the first run of validation, meaning after the first change to a business property.

Advice (and even help) is required. TIA

[2017-12-12 18:15] rockfordlhotka commented on #477
iirc, there's no automatic run of rules on a DP_Fetch, assuming that data from the database is valid. If that's not the case then you should add a call to CheckRules at the end of your DP_Fetch method.

[2017-12-12 18:16] rockfordlhotka commented on #476
If you don't need to display the error at the root object level, then you can keep the list as your root. You won't have access to the rules engine in a `BusinessListBase`, but you can absolutely handle the child changed event and write code that loops through the child objects.

[2017-12-12 18:17] rockfordlhotka commented on #475
Yes, you'll need to create a custom client-side data portal proxy that uses an attribute (or something) to determine which objects should run local vs remote.

[2017-12-12 18:21] CrossSlide commented on #476
So, handle the event but I don't use the override AddBusinessRule() technique, right? Thanks @rockfordlhotka

[2017-12-12 19:53] tfreitasleal commented on #477
Hi Rocky.

I know that. CslaGenFork as an option to generate `BusinessRules.CheckRules();` on _DataPortal_Fecth_.

But I'm asking about **DataPortal_Create**. Shouldn't it check rules by itself? Anyway, even if I force  `BusinessRules.CheckRules();`, no propertie are marked with the broken rules sign until I trigger validation, say type something on some text box and move to another text box.

So

[2017-12-12 20:16] rockfordlhotka commented on #477
What's funny is that @JasonBock and I are having this discussion right now too 😄

He refreshed my memory though. DP_Create doesn't check rules by default, you have to call `CheckRules` at the end of DP_Create if you want them checked.

[2017-12-12 23:38] tfreitasleal commented on #477
My issue is more of a UI thing - I guess that's because I'm not using BindingSource but binding directly to business objects.

Debuggng DataPortal_Create shows that `base.DataPortal_Create()` does check business rules.
`BusinessRules.GetBrokenRules().Count` is zero before running base methods and shows the updated value after running it.

[2017-12-12 23:42] tfreitasleal commented on #477
BTW the issue isn't related to binding source. The errorProvider.DataSourcemust be set **after** binding all properies to the model. Issue solved.

[2017-12-13 02:04] #477 closed

[2017-12-14 16:13] rockfordlhotka commented on #474
I'm going to take the lack of feedback to indicate that people are fine with this breaking change 😄

[2017-12-14 18:46] peder commented on #461
What does `There are too many limitations which make this impractical` mean in that FAQ?

[2017-12-14 21:14] rockfordlhotka commented on #461
Mostly that there are a limited number of serializers that operate at the _field_ level instead of the _property_ level. These are `BinaryFormatter`, `NetDataContractSerializer`, and the CSLA `MobileFormatter`. Also Json.NET has the _option_ to do deep serialization.

All the other serializers operate at the _property_ level and only work if you have public read-write properties that don't have an

[2017-12-18 17:19] peder commented on #461
This is deviating a bit from this topic, but why would you trust serialized data that must be deserialized into private variables? Wouldn't that open the door for security and data quality risks?

[2017-12-18 17:37] rockfordlhotka commented on #461
Architecturally this is the difference between n-tier and service-oriented architectures.

In an n-tier architecture (which is what CSLA is designed to support) the application boundary includes numerous layers of the app that may be deployed on different physical tiers. Within the application boundary there's a level of trust, because all these layers are literally part of the same application.

[2017-12-19 16:02] CrossSlide opened #478 "Bypass IsDirty on a Property"
I have a BusinessList with child objects. My child object has a property "Track" that is only used at runtime and not persisted. I need my BusinessList to respond to the OnChildChanged event when Track is changed. But, when Track is changed I don't want the child's persistence state to be changed. The child should remain Old or Dirty regardless of the change to Track. How would I implement this?

[2017-12-19 16:09] hurcane commented on #478
Could you define a custom event in the child class and write the business list logic to respond to the custom event?

[2017-12-19 16:12] CrossSlide commented on #478
Yes, I think I could do that but I just wanted to make sure there wasn't a "proper" way to do it within the framework. :-)

Thanks @hurcane

[2017-12-19 16:25] hurcane commented on #478
As I think about it some more, I think you could use OnPropertyChanged directly, without having to define a new event. The normal property change workflow includes a call MarkDirty, which I presume you want to avoid. It also checks rules, which I presume you want to avoid. And it calls OnPropertyChanged. This call is what bubbles up to the OnChildChanged event in the list.

[2017-12-19 16:36] CrossSlide commented on #478
So are you saying to override the OnPropertyChanged of the child and not call it's base, then call OnChildChanged?

[2017-12-19 16:38] hurcane commented on #478
Inside the setter of the Track property, call OnPropertyChanged. That will not cause rules to run and it will not cause MarkDirty to be called. In the list, you will handle it the way you were intending to handle it.

[2017-12-19 16:40] rockfordlhotka commented on #478
Also, you wouldn't implement this as a managed property, just as an old-fashioned standard property, where you manually call `OnPropertyChanged` in the setter.

Additionally, if you are using the BinaryFormatter or NDCS for serialization, make sure you mark the backing field for the property as `NonSerialized`.

[2017-12-19 16:41] CrossSlide commented on #478
Great, I'll try that! Thanks @hurcane @rockfordlhotka

[2017-12-20 12:09] CrossSlide opened #479 "Manual Backing Field"
I need to capture a property value before it's changed and have added a line in the setter. I'm using a Manual backing field but VS IntelliSense is saying it's a Managed backing field and I should only use Get/Set/etc.

Should I be doing this another way? Thanks

[code]

[2017-12-20 12:36] jonnybee commented on #479
The analyzer flags this as an issue as the general  guidance is that you should not have any other code than GetProperty/SeProperty in the property declaration. What is the intended use of this property?

[2017-12-20 12:40] CrossSlide commented on #479
I need to know what the original property value was before it was changed so I can adjust some other values after the property value has changed.

[2017-12-20 17:02] CrossSlide commented on #479
I found a solution: OnPropertyChanging. Thanks!

[2017-12-20 17:02] #479 closed

[2017-12-21 17:32] rockfordlhotka commented on #474
Discovered another snag in this process.

There are just a few parts of CSLA that rely on features of full .NET (.NET CLR). Such as
* COM+ transactions
* Full WCF transport features

There may be a couple others, but those are the big ones.

I'm considering creating a new "CSLA-NetCLR" NuGet package that would continue to include a `Csla.dll` built for full .NET 4.6.1. And the "CSLA-Core" package

[2017-12-22 02:25] ajj7060 commented on #474
I didn't see this until now.. I'm not entirely sure why .Net 4.6 is considered being dropped or moved to a separate package.  That sounds like it would be pretty bad for us, since we have a WinForms app using full .net 4.6 (a lot of our customers only within the last 1.5 years finished updating to Windows 7), and our Xamarin app which is using the latest.  Both the .Net app and the Xamarin app are

[2017-12-22 02:26] ajj7060 commented on #474
Also, a while back (about a year ago) we initially tried to use PCLs for Xamarin, but found that even though our business layer was PCL, because the UI Xamarin project was picking up the platform specific Csla, we got runtime errors due to things missing from the iOS Csla that were defined in the PCL Csla.  Is this essentially the issue?

[2017-12-22 16:27] ajj7060 opened #480 "CSLA0010: Operation argument types should be serializable for Guids"
We use Guid as identifiers, and so pass them to data portal fetch's and creates.  It looks like for UWP only, these are being flagged with CSLA0010.  Using dotPeek, it does appear that Guid from .Net Core isn't marked as serializable.

Does this mean we don't have any way to pass the Guid directly, or is the warning a false positive?

[2017-12-22 16:48] rockfordlhotka commented on #480
Sounds like a false positive - though the analyzer can't know, because it drives off the `Serializable` attribute.

It may not be .NET Core that's the issue here, it is probably netstandard 2.0?

What I mean by that, is that if Guid values aren't serializable _at runtime_ someone would have noticed I would think - that's a big breaking change. And .NET Core is what's used at runtime.

netstandard

[2017-12-22 16:49] rockfordlhotka commented on #464
You might need to implement your own rule to resolve this issue.

If we, as a community, can come up with a meaning for an "empty" date that works for everyone, I'm also happy to accept a PR for the existing rule - but I'm very skeptical that everyone can agree on such a rule implementation.

[2017-12-22 17:19] tfreitasleal commented on #464
Hi all,

There are two different ways to represent an unset (or empty) DataTime: nullable DateTime and Csla.SmartDate. I think there is no need add other concepts.

If the application can't handle neither nullable DateTime nor Csla.SmartDate by design, I think the best option is to use a custom rule.

[2017-12-22 18:48] rockfordlhotka commented on #474
@ajj7060 It is important to understand the implications, and I may not have been super clear.

netstandard 2.0 (NS2) is basically like an interface that can be implemented by various flavors of .NET. If you write your code to NS2 then you know your code will run on any flavor of .NET that implements NS2.

NS2 is implemented by
* .NET 4.6.1 and higher
* Xamarin
* UWP (as of Win10 FCU)
* Probably so

[2017-12-26 19:13] CrossSlide opened #481 "BusinessListBase AddObjectAuthorizationRules"
Ok, I can't figure out how to implement a method authorization rule on a BusinessListBase. I've search the books but it just gives hints about it.

I've tried
`new Csla.Rules.CommonRules.IsInRole(AuthorizationActions.ExecuteMethod, MyCoolMethod, "Admin")`
but BusinessListBase won't let me use RegisterMethod when making a MethodInfo object for my method.

What am I doing wrong? Thanks

[2017-12-28 14:42] ajj7060 commented on #474
Thanks @rockfordlhotka that explanation does help a bit, and the expansion of the number of Csla-Core packages was a concern for me (since more packages is more work to manage, even with nuget).  My other concern with a NET46 package was it was already being labeled legacy, and that it would have quickly been dropped as "too much of a pain to continue supporting."  So your new approach of just mov

[2017-12-28 16:06] ajj7060 commented on #480
Thanks Rocky.  I figured as much, but just wanted to check.  I'll see if I can find the right place to file a bug for NS.

[2017-12-28 18:30] rockfordlhotka commented on #474
Xamarin supports NS2.0, as does UWP, and .NET 4.6.1 and higher. That's the point really - NS2.0 is actually providing the dream we had with PCLs - the dream they never really provided.

The only catch is that each concrete platform provides more functionality than is defined by NS2.0. That's not a problem for WPF/WinForms/UWP/Xamarin/ASP.NET because CSLA already provides per-platform assemblies fo

[2017-12-28 18:32] rockfordlhotka commented on #481
There is no rules engine built into BusinessListBase, so you just need to check the rule manually as the first step in your method.

[2018-01-02 15:55] RaviPatelTheOne opened #482 "Object caching is not working using CslaDataPortalProxy in WCF Service + MVC"
We are using 4-tier architecture for developing application using Silverlight and WCF portal. We have also added ObjectCaching (powered by cslacontrib) at WCF layer. So, when first call comes, it goes to cache layer using compress proxy. If object does not exist in cache, it goes to Business object to fetch data. We are able to call WCF service from Silver light application.

**SilverLight configu

[2018-01-03 05:38] #190 closed

[2018-01-05 10:53] Conway6288 commented on #473
Still looking for a fix for this. Is it something I'm doing wrong?

[2018-01-05 18:16] rockfordlhotka commented on #473
I did pull down your sample and it fails for me, so that's a start. I also commented out everything in the failing test except the fetch call, so it is in the initial fetch, not the BeginEdit where the problem lies.

I'm not sure what's going on, the BinaryFormatter is getting confused somehow - and I rather suspect it might be some sort of race condition. Perhaps the serialization process is some

[2018-01-06 06:49] jonnybee commented on #482
Are you using MVC Core or MVC 5?

Please verify that the CacheDataPortal is the active/used one.

[2018-01-07 06:03] RaviPatelTheOne commented on #482
We are using Asp.net MVC 5.

[2018-01-08 09:21] Conway6288 commented on #473
Glad you were able to replicate.

I hadn't had any issues with the fetch on the async object. I was able to load it and view the data on my object fine before calling BeginEdit which triggered the exception.

You know better than me though!

[2018-01-08 16:51] rockfordlhotka commented on #473
Interesting. I just commented out the lines in your test method except for the fetch and still had a failure. Perhaps I did something wrong though - I'll have to take another look when I get time.

[2018-01-09 17:46] peder opened #483 "WCF Alternative"
With the future of WCF in doubt (https://github.com/dotnet/wcf/issues/1200), I'd be curious to know what communication channels CSLA devs are migrating / considering migrating to. I've only ever used CSLA in WCF environments, so I'm not sure what alternatives exist.

[2018-01-09 17:58] rockfordlhotka commented on #483
CSLA includes the HttpProxy/HttpPortal channel that doesn't use WCF and works on all modern platforms (mobile, core, etc.). I generally default to using this channel as it is simpler to configure than WCF.

The host is an ASP.NET MVC (full or Core) site with a controller that is provided in Csla.dll to provide a data portal endpoint. Because it is just a controller, you can easily use http or http

[2018-01-10 17:50] ajj7060 opened #484 "Async DataPortal_Insert?"
I know you can do `private Task DataPortal_Fetch(int id)` and Csla will do the right thing and await the fetch method.  I'm now needing to call an async method in my DataPortal_Insert, which is defined in the BusinessBase.  I can't override the method to make it return Task, and if I declare it `private Task DataPortal_Insert()` I get a warning about needing `new` which makes me wonder if Csla wil

[2018-01-10 18:43] ajj7060 commented on #473
@rockfordlhotka I think LazyGetPropertyAsync needs to be changed from `LazyGetPropertyAsync<P>(PropertyInfo<P> property, Task<P> factory)` to `LazyGetPropertyAsync<P>(PropertyInfo<P> property, Func<Task<P>> factory)`

The issue is that a Task is being created / stared immediately and store in the field manager:

``
public ChildList Child {
    get { return LazyGetPropertyAsync(ChildProperty, **Chi

[2018-01-11 21:14] russblair opened #485 "Extending BusinessRules to Support Client-Side Validation in ASP.NET MVC"
I need to create controller GetValidations() method that returns a json response to the client (Angular 5) application. I want to dynamically create this json response from the data annotations and business rules on my business base object.

I tried to use the BusinessRules.GetRuleDefinitions() however the output rule URIs no longer contain all the parameters (see thread http://cslanet.com/old-for